{# templates/admin_clients/clients_table.html #}


<div id="list-patients-component-listC-listC2-content-table-box">

                    <table id="list-patients-component-listC-listC2-content-table-box-t1">

                        <thead style="display: none;">
                            <tr>
                                <th></th>
                                <th>Klient</th>
                                <th>Budova</th>
                                <th>Oddělení</th>
                                <th>Pokoj</th>
                                <th>Lůžko</th>
                                <th>Zdroj</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="list-patients-component-listC-listC2-content-table-box-t1-patients-table-body">

                            <!-- <tr data-patient-id="1">
                                <td class="list-patients-component-listC-listC2-content-table-box-t1-col1">

                                    <label id="list-patients-component-listC-listC2-content-table-box-t1-col1-label">
                                        <input type="checkbox" id="list-patients-component-listC-listC2-content-table-box-t1-col1-checkbox">

                                        <span id="list-patients-component-listC-listC2-content-table-box-t1-col1-checkbox-box">

                                            <svg viewBox="4 6 16 12">
                                                <path d="M5 12.5L10 17L19 7"/>
                                            </svg>

                                        </span>

                                    </label>

                                </td>
                                <td class="list-patients-component-listC-listC2-content-table-box-t1-col2">Kraninger Michal</td>
                                <td class="list-patients-component-listC-listC2-content-table-box-t1-col3">B</td>
                                <td class="list-patients-component-listC-listC2-content-table-box-t1-col4">Psychiatrie</td>
                                <td class="list-patients-component-listC-listC2-content-table-box-t1-col5">33</td>
                                <td class="list-patients-component-listC-listC2-content-table-box-t1-col6">155</td>
                                <td class="list-patients-component-listC-listC2-content-table-box-t1-col7">
                                    <div class="list-patients-component-listC-listC2-content-table-box-t1-col7-minus"></div>
                                </td>
                                <td class="list-patients-component-listC-listC2-content-table-box-t1-col8">
                                    <button id="list-patients-component-listC-listC2-content-table-box-t1-col8-btn1">

                                        <svg id="list-patients-component-listC-listC2-content-table-box-t1-col8-btn1-img" viewBox="0 0 23.9 23.9">
                                            <defs>
                                                <style>
                                                .list-patients-component-listC-listC2-content-table-box-t1-col8-btn1-img-cls-1
                                                {
                                                    fill: currentColor;
                                                }
                                                </style>
                                            </defs>
                                            <path class="list-patients-component-listC-listC2-content-table-box-t1-col8-btn1-img-cls-1" d="M16.78,17.42l2.98-2.98c.13-.13.21-.31.21-.5s-.07-.36-.21-.5c-.28-.27-.72-.27-1,0l-2.98,2.98-2.98-2.98c-.27-.27-.72-.27-1,0-.27.27-.27.72,0,1l2.98,2.98-2.98,2.98c-.27.27-.27.72,0,1,.27.27.72.27,1,0l2.98-2.98,2.98,2.98c.14.14.32.21.5.21s.36-.07.5-.21.21-.31.21-.5-.07-.36-.21-.5l-2.98-2.98Z"/>
                                            <path class="list-patients-component-listC-listC2-content-table-box-t1-col8-btn1-img-cls-1" d="M16.14,12.94c-.5-1.23-1.38-2.19-2.45-2.81-.19-.11-.37-.2-.54-.27,0,0-.02-.01-.03-.02,1.06-.74,1.75-1.96,1.75-3.34,0-2.25-1.83-4.08-4.08-4.08s-4.08,1.83-4.08,4.08c0,1.39.7,2.61,1.76,3.35-2.01.9-3.41,2.91-3.41,5.25,0,.35.28.63.63.63s.63-.28.63-.63c0-2.47,2.01-4.49,4.49-4.49.7,0,1.35.17,1.94.46.11.05.22.11.32.17.82.48,1.51,1.22,1.89,2.17.13.32.5.48.82.35.32-.13.48-.5.35-.82ZM10.79,9.32c-1.55,0-2.81-1.26-2.81-2.81s1.26-2.81,2.81-2.81,2.81,1.26,2.81,2.81-1.26,2.81-2.81,2.81Z"/>
                                        </svg>

                                    </button>
                                </td>
                            </tr> -->

                            {% for c in all_clients %}

                                <tr data-patient-id="{{ c[0] }}">
                                    <td class="list-patients-component-listC-listC2-content-table-box-t1-col1">

                                        <label class="list-patients-component-listC-listC2-content-table-box-t1-col1-label">
                                            <input type="checkbox" class="list-patients-component-listC-listC2-content-table-box-t1-col1-checkbox">

                                            <span class="list-patients-component-listC-listC2-content-table-box-t1-col1-checkbox-box">

                                                <svg viewBox="4 6 16 12">
                                                    <path d="M5 12.5L10 17L19 7"/>
                                                </svg>

                                            </span>

                                        </label>

                                    </td>
                                    <td class="list-patients-component-listC-listC2-content-table-box-t1-col2">{{c[1]}} {{c[3]}}</td>


                                    {% if c[2] is not none %}

                                    <td class="list-patients-component-listC-listC2-content-table-box-t1-col3">{{c[2]}}</td>

                                    {% else %}

                                    <td class="list-patients-component-listC-listC2-content-table-box-t1-col3">
                                        <div class="list-patients-component-listC-listC2-content-table-box-t1-col3-minus"></div>
                                    </td>

                                    {% endif %}

                                    {% if c[4] is not none %}
                                        <td class="list-patients-component-listC-listC2-content-table-box-t1-col4">{{c[4]}}</td>
                                    {% else %}
                                        <td class="list-patients-component-listC-listC2-content-table-box-t1-col4">
                                            <div class="list-patients-component-listC-listC2-content-table-box-t1-col4-minus"></div>
                                        </td>
                                    {% endif %}

                                    {% if c[5] is not none %}
                                        <td class="list-patients-component-listC-listC2-content-table-box-t1-col5">{{c[5]}}</td>
                                    {% else %}
                                        <td class="list-patients-component-listC-listC2-content-table-box-t1-col5">
                                            <div class="list-patients-component-listC-listC2-content-table-box-t1-col5-minus"></div>
                                        </td>
                                    {% endif %}

                                    {% if c[6] is not none %}
                                    <td class="list-patients-component-listC-listC2-content-table-box-t1-col6">{{c[6]}}</td>
                                    {% else %}
                                        <td class="list-patients-component-listC-listC2-content-table-box-t1-col6">
                                               <button class="list-patients-component-listC-listC2-content-table-box-t1-col6-btn">

                                                 <svg class="list-patients-component-listC-listC2-content-table-box-t1-col6-btn-img" viewBox="9 13 26 16">
                                                    <defs>
                                                        <style>
                                                        .list-patients-component-listC-listC2-content-table-box-t1-col6-btn-img-cls-1 {
                                                            fill: currentColor;
                                                        }
                                                        </style>
                                                    </defs>
                                                    <path class="list-patients-component-listC-listC2-content-table-box-t1-col6-btn-img-cls-1" d="M34.12,18.41c-.56,0-1.02.46-1.02,1.02v2.9H11.53v-7.63c0-.56-.46-1.02-1.02-1.02h0c-.56,0-1.02.46-1.02,1.02v14.03c0,.11.09.2.2.2h1.64c.11,0,.2-.09.2-.2v-2.28h21.57v2.28c0,.11.09.2.2.2h1.64c.11,0,.2-.09.2-.2v-9.3c0-.56-.46-1.02-1.02-1.02Z"/>
                                                </svg>


                                               </button>
                                        </td>
                                    {% endif %}



                                    {% if c[7] is not none and c[8] == 0 %}

                                        <td class="list-patients-component-listC-listC2-content-table-box-t1-col7">
                                            Cygnus
                                        </td>

                                    {% elif c[9] is not none and c[10] == 0 %}

                                        <td class="list-patients-component-listC-listC2-content-table-box-t1-col7">
                                            DODS
                                        </td>

                                    {% else %}

                                        <td class="list-patients-component-listC-listC2-content-table-box-t1-col7">
                                            <div class="list-patients-component-listC-listC2-content-table-box-t1-col7-minus"></div>
                                        </td>

                                    {% endif %}


                                    <td class="list-patients-component-listC-listC2-content-table-box-t1-col8">
                                        <button class="list-patients-component-listC-listC2-content-table-box-t1-col8-btn1">

                                            <svg class="list-patients-component-listC-listC2-content-table-box-t1-col8-btn1-img" viewBox="0 0 23.9 23.9">
                                                <defs>
                                                    <style>
                                                    .list-patients-component-listC-listC2-content-table-box-t1-col8-btn1-img-cls-1
                                                    {
                                                        fill: currentColor;
                                                    }
                                                    </style>
                                                </defs>
                                                <path class="list-patients-component-listC-listC2-content-table-box-t1-col8-btn1-img-cls-1" d="M16.78,17.42l2.98-2.98c.13-.13.21-.31.21-.5s-.07-.36-.21-.5c-.28-.27-.72-.27-1,0l-2.98,2.98-2.98-2.98c-.27-.27-.72-.27-1,0-.27.27-.27.72,0,1l2.98,2.98-2.98,2.98c-.27.27-.27.72,0,1,.27.27.72.27,1,0l2.98-2.98,2.98,2.98c.14.14.32.21.5.21s.36-.07.5-.21.21-.31.21-.5-.07-.36-.21-.5l-2.98-2.98Z"/>
                                                <path class="list-patients-component-listC-listC2-content-table-box-t1-col8-btn1-img-cls-1" d="M16.14,12.94c-.5-1.23-1.38-2.19-2.45-2.81-.19-.11-.37-.2-.54-.27,0,0-.02-.01-.03-.02,1.06-.74,1.75-1.96,1.75-3.34,0-2.25-1.83-4.08-4.08-4.08s-4.08,1.83-4.08,4.08c0,1.39.7,2.61,1.76,3.35-2.01.9-3.41,2.91-3.41,5.25,0,.35.28.63.63.63s.63-.28.63-.63c0-2.47,2.01-4.49,4.49-4.49.7,0,1.35.17,1.94.46.11.05.22.11.32.17.82.48,1.51,1.22,1.89,2.17.13.32.5.48.82.35.32-.13.48-.5.35-.82ZM10.79,9.32c-1.55,0-2.81-1.26-2.81-2.81s1.26-2.81,2.81-2.81,2.81,1.26,2.81,2.81-1.26,2.81-2.81,2.81Z"/>
                                            </svg>

                                        </button>
                                    </td>



                                </tr>

                        {% endfor %}



                        </tbody>
                    </table>

</div>

<section id="list-patients-component-lessC"

        {% if table_response %}
                hx-swap-oob="outerHTML"
        {% endif %}>

        <p id="list-patients-component-lessC-p1">
            {% if total_records > 0 %}
                {{ ((page - 1) * per_page) + 1 }}
            {% else %}
                0
            {% endif %}
        </p> &nbsp;-&nbsp;
        <p id="list-patients-component-lessC-p2"> {{ [page * per_page, total_records] | min }} </p> &nbsp;z&nbsp;
        <p id="list-patients-component-lessC-p3"> {{ total_records }} </p>

        {% if page > 1 %}

            <a id="list-patients-component-lessC-a1"
            href="/administration/clients/?page={{ page - 1 }}"
            hx-get="/administration/clients/?page={{ page - 1 }}&partial=table"
            hx-target="#list-patients-component-listC-listC2-content-table-box"
            hx-swap="outerHTML"
            hx-push-url="/administration/clients/?page={{ page - 1 }}">

                <button id="list-patients-component-lessC-btn1">
                    <svg id="list-patients-component-lessC-btn1-img1" viewBox="0 0 1024 1024" class="icon">
                        <path d="M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z" fill="currentcolor" />
                    </svg>
                </button>
            </a>
        {% else %}
            <button id="list-patients-component-lessC-btn1">
                <svg id="list-patients-component-lessC-btn1-img1" viewBox="0 0 1024 1024" class="icon">
                    <path d="M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z" fill="currentcolor" />
                </svg>
            </button>
        {% endif %}

        {% if page < total_pages %}
            <a id="list-patients-component-lessC-a2"
            href="/administration/clients/?page={{ page + 1 }}"
            hx-get="/administration/clients/?page={{ page + 1 }}&partial=table"
            hx-target="#list-patients-component-listC-listC2-content-table-box"
            hx-swap="outerHTML"
            hx-push-url="/administration/clients/?page={{ page + 1 }}">

                <button id="list-patients-component-lessC-btn2">
                    <svg id="list-patients-component-lessC-btn1-img2" viewBox="0 0 1024 1024" class="icon">
                        <path d="M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z" fill="currentcolor" />
                    </svg>
                </button>
            </a>
        {% else %}

            <button id="list-patients-component-lessC-btn2">
                <svg id="list-patients-component-lessC-btn1-img2" viewBox="0 0 1024 1024" class="icon">
                    <path d="M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z" fill="currentcolor" />
                </svg>
            </button>

        {% endif %}


</section>
