
{# templates/admin_clients/clients_fragment.html #}

<section id="list-patients-component">

    <section id="list-patients-component-searching-bar">
        <input type="search" id="list-patients-component-searching-bar-searchInput" name="q" placeholder="Vyhledat klienta..." autocomplete="off" spellcheck="false">
        <button id="list-patients-component-searching-bar-btn1">+ Přidat</button>
        <button id="list-patients-component-searching-bar-btn2">- Odstranit</button>
        <div id="list-patients-component-searching-bar-selectBox1">SelectBox 1</div>
        <div id="list-patients-component-searching-bar-selectBox2">SelectBox 2</div>
        <div id="list-patients-component-searching-bar-selectBox3">SelectBox 3</div>
        <div id="list-patients-component-searching-bar-selectBox4">SelectBox 4</div>
    </section>

    <section id="list-patients-component-listC">

        <div id="list-patients-component-listC-head"></div>
        <div id="list-patients-component-listC-listC2">

            <div id="list-patients-component-listC-listC2-content"></div>
            <div id="list-patients-component-listC-listC2-scrollC"></div>

        </div>

    </section>

    <section id="list-patients-component-lessC"></section>

</section>
