
{# templates/admin_clients/clients_fragment.html #}

<section id="list-patients-component">

    <section id="list-patients-component-searching-bar">
        <!-- <input type="search" id="list-patients-component-searching-bar-searchInput" name="q" placeholder="Vyhledat klienta..." autocomplete="off" spellcheck="false"> -->

        <div id="list-patients-component-searching-bar-searchingBox">

            <div id="list-patients-component-magnifierC">

                <svg id="list-patients-component-magnifier"  viewBox="4.5 4.5 16 16">
                    <defs>
                        <style>
                        .list-patients-component-magnifierC-m_cls-1 {
                            fill: currentColor;
                            opacity: .71;
                        }
                        </style>
                    </defs>
                    <path class="list-patients-component-magnifierC-m_cls-1" d="M10.67,5.09c3.03,0,5.5,2.47,5.5,5.5,0,1.2-.39,2.3-1.04,3.21l4.46,4.32c.39.38.4,1,.02,1.39-.19.2-.45.3-.71.3s-.5-.09-.69-.28l-4.47-4.33s-.01-.02-.02-.03c-.87.59-1.92.93-3.05.93-3.03,0-5.5-2.47-5.5-5.5s2.47-5.5,5.5-5.5ZM10.67,14.61c2.22,0,4.02-1.8,4.02-4.02s-1.8-4.02-4.02-4.02-4.02,1.8-4.02,4.02,1.8,4.02,4.02,4.02Z"/>
                </svg>

            </div>

            <div id="list-patients-component-searchWrapper">

                <span id="list-patients-component-searchLabel" class="{% if data.search %}hidden{% endif %}">
                    Vyhledat
                </span>

                <input id="list-patients-component-searching-bar-searchInput" type="search"  maxlength="50" name="q" autocomplete="off" spellcheck="false" value="{{ data.search }}">

            </div>

        </div>

        <button id="list-patients-component-searching-bar-btn1">


            <div id="list-patients-component-searching-bar-btn1-imgC">

                <!-- <svg id="list-patients-component-searching-bar-btn1-img1" viewBox="0 0 23.9 23.9">
                    <defs>
                        <style>
                        .list-patients-component-searching-bar-btn1-img1-cls-1 {
                            fill: #357fab;
                            stroke: #357fab;
                            stroke-miterlimit: 10;
                            stroke-width: .25px;
                        }
                        </style>
                    </defs>
                    <path class="list-patients-component-searching-bar-btn1-img1-cls-1" d="M12.33,11.2v-4.64c0-.29-.23-.52-.52-.52s-.52.23-.52.52v4.64h-4.64c-.29,0-.52.23-.52.52s.23.52.52.52h4.64v4.64c0,.29.23.52.52.52.14,0,.27-.06.37-.15s.15-.22.15-.37v-4.64h4.64c.14,0,.27-.06.37-.15s.15-.22.15-.37c0-.29-.23-.52-.52-.52h-4.64Z"/>
                </svg> -->

                 <svg id="list-patients-component-searching-bar-btn1-img1" viewBox="6 6 11.5 11.5">
                    <defs>
                        <style>
                        .list-patients-component-searching-bar-btn1-img1-cls-1 {
                            fill: #357fab;
                            stroke: #357fab;
                            stroke-miterlimit: 10;
                            stroke-width: .25px;
                        }
                        </style>
                    </defs>
                    <path class="list-patients-component-searching-bar-btn1-img1-cls-1" d="M12.33,11.2v-4.64c0-.29-.23-.52-.52-.52s-.52.23-.52.52v4.64h-4.64c-.29,0-.52.23-.52.52s.23.52.52.52h4.64v4.64c0,.29.23.52.52.52.14,0,.27-.06.37-.15s.15-.22.15-.37v-4.64h4.64c.14,0,.27-.06.37-.15s.15-.22.15-.37c0-.29-.23-.52-.52-.52h-4.64Z"/>
                </svg>

            </div>

            <p id="list-patients-component-searching-bar-btn1-add"> Přidat </p>

        </button>

        <button id="list-patients-component-searching-bar-btn2" type="button" disabled>

            <div id="list-patients-component-searching-bar-btn2-imgC">

                 <svg id="list-patients-component-searching-bar-btn2-img1" viewBox="4.5 2.2 15 19">
                    <defs>
                        <style>
                        .list-patients-component-searching-bar-btn2-img1-cls-1
                        {
                            fill: currentColor;
                        }
                        </style>
                    </defs>
                    <path class="list-patients-component-searching-bar-btn2-img1-cls-1" d="M16.78,17.42l2.98-2.98c.13-.13.21-.31.21-.5s-.07-.36-.21-.5c-.28-.27-.72-.27-1,0l-2.98,2.98-2.98-2.98c-.27-.27-.72-.27-1,0-.27.27-.27.72,0,1l2.98,2.98-2.98,2.98c-.27.27-.27.72,0,1,.27.27.72.27,1,0l2.98-2.98,2.98,2.98c.14.14.32.21.5.21s.36-.07.5-.21.21-.31.21-.5-.07-.36-.21-.5l-2.98-2.98Z"/>
                    <path class="list-patients-component-searching-bar-btn2-img1-cls-1" d="M16.14,12.94c-.5-1.23-1.38-2.19-2.45-2.81-.19-.11-.37-.2-.54-.27,0,0-.02-.01-.03-.02,1.06-.74,1.75-1.96,1.75-3.34,0-2.25-1.83-4.08-4.08-4.08s-4.08,1.83-4.08,4.08c0,1.39.7,2.61,1.76,3.35-2.01.9-3.41,2.91-3.41,5.25,0,.35.28.63.63.63s.63-.28.63-.63c0-2.47,2.01-4.49,4.49-4.49.7,0,1.35.17,1.94.46.11.05.22.11.32.17.82.48,1.51,1.22,1.89,2.17.13.32.5.48.82.35.32-.13.48-.5.35-.82ZM10.79,9.32c-1.55,0-2.81-1.26-2.81-2.81s1.26-2.81,2.81-2.81,2.81,1.26,2.81,2.81-1.26,2.81-2.81,2.81Z"/>
                </svg>

            </div>

            <p id="list-patients-component-searching-bar-btn2-delete">Odstranit</p>

        </button>

        <span id="list-patients-component-searching-bar-count">x</span>

        <!-- <div id="list-patients-component-searching-bar-selectBox1">SelectBox 1</div> -->
        <div id="list-patients-component-searching-bar-selectBox1">

            <button id="list-patients-component-searching-bar-selectBox1-btn1" type="button">

                <span id="list-patients-component-searching-bar-selectBox1-sp1">Klienti:</span>

                <!-- <strong id="clientSelectValue">Všichni</strong> -->
                <span id="list-patients-component-searching-bar-selectBox1-sp2">

                    {% if data.clients_filter == "without-bed" %}
                        Neumístění
                    {% elif data.clients_filter == "on-bed" %}
                        Umístění
                    {% else %}
                        Všichni
                    {% endif %}

                </span>

                <!-- <span class="arrow">⌄</span> -->
                <svg id="list-patients-component-searching-bar-selectBox1-img" fill="currentcolor" viewBox="0 0 451.847 451.847" xml:space="preserve">
                    <g>
                        <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                            c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                            c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
                    </g>
                </svg>

            </button>

            <div id="list-patients-component-searching-bar-selectBox1-menu">
                <div id="list-patients-component-searching-bar-selectBox1-menu-o1" data-value="all" class="list-patients-component-searching-bar-selectBox1-menu-options">Všichni</div>
                <div id="list-patients-component-searching-bar-selectBox1-menu-o2" data-value="on-bed" class="list-patients-component-searching-bar-selectBox1-menu-options">Umístění</div>
                <div id="list-patients-component-searching-bar-selectBox1-menu-o3" data-value="without-bed" class="list-patients-component-searching-bar-selectBox1-menu-options">Neumístění</div>
            </div>

            <input type="hidden" name="list-patients-component-searching-bar-selectBox1-filter" id="list-patients-component-searching-bar-selectBox1-filter" value="{{ data.clients_filter }}">

        </div>

        <!-- <div id="list-patients-component-searching-bar-selectBox2">SelectBox 2</div> -->
        <div id="list-patients-component-searching-bar-selectBox2">

            <button id="list-patients-component-searching-bar-selectBox2-btn1" type="button">

                <span id="list-patients-component-searching-bar-selectBox2-sp1">Oddělení:</span>

                <!-- <strong id="clientSelectValue">Všichni</strong> -->
                <span id="list-patients-component-searching-bar-selectBox2-sp2">

                    {% if data.department_filter == "all" %}

                        Všechny

                    {% else %}

                        {% set selected_department = namespace(name="Všechny") %}

                        {% for department_id, department_name in data.departments %}

                            {% if department_id|string == data.department_filter|string %}
                                {% set selected_department.name = department_name %}
                            {% endif %}

                        {% endfor %}

                        {{ selected_department.name }}

                    {% endif %}

                </span>

                <!-- <span class="arrow">⌄</span> -->
                <svg id="list-patients-component-searching-bar-selectBox2-img" fill="currentcolor" viewBox="0 0 451.847 451.847" xml:space="preserve">
                    <g>
                        <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                            c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                            c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
                    </g>
                </svg>

            </button>

            <div id="list-patients-component-searching-bar-selectBox2-menu">
                <div id="list-patients-component-searching-bar-selectBox2-menu-o1" data-value="all" class="list-patients-component-searching-bar-selectBox2-menu-options">Všechny</div>
                <!-- <div id="list-patients-component-searching-bar-selectBox2-menu-o2" data-value="Gyn" class="list-patients-component-searching-bar-selectBox2-menu-options">Gynekologie</div>
                <div id="list-patients-component-searching-bar-selectBox2-menu-o3" data-value="Sex" class="list-patients-component-searching-bar-selectBox2-menu-options">Sexuologie</div>
                <div id="list-patients-component-searching-bar-selectBox2-menu-o4" data-value="Psy" class="list-patients-component-searching-bar-selectBox2-menu-options">Psychologie</div>
                <div id="list-patients-component-searching-bar-selectBox2-menu-o5" data-value="Trau" class="list-patients-component-searching-bar-selectBox2-menu-options">Traumatologie</div> -->

                 {% for department_id, department_name in data.departments %}
                    <div class="list-patients-component-searching-bar-selectBox2-menu-options" data-value="{{ department_id }}">
                        {{ department_name }}
                    </div>
                 {% endfor %}


            </div>

            <input type="hidden" name="list-patients-component-searching-bar-selectBox2-filter" id="list-patients-component-searching-bar-selectBox2-filter" value="{{ data.department_filter }}">

        </div>

        <!-- <div id="list-patients-component-searching-bar-selectBox3">SelectBox 3</div> -->
        <div id="list-patients-component-searching-bar-selectBox3">

            <button id="list-patients-component-searching-bar-selectBox3-btn1" type="button">

                <span id="list-patients-component-searching-bar-selectBox3-sp1">Budova:</span>

                <!-- <strong id="clientSelectValue">Všichni</strong> -->
                <span id="list-patients-component-searching-bar-selectBox3-sp2">

                    {% if data.building_filter == "all" %}

                        Všechny

                    {% else %}

                        {% set selected_building = namespace(name="Všechny") %}

                        {% for building_id, building_name in data.buildings %}

                            {% if building_id|string == data.building_filter|string %}
                                {% set selected_building.name = building_name %}
                            {% endif %}

                        {% endfor %}

                        {{ selected_building.name }}

                    {% endif %}

                </span>

                <!-- <span class="arrow">⌄</span> -->
                <svg id="list-patients-component-searching-bar-selectBox3-img" fill="currentcolor" viewBox="0 0 451.847 451.847" xml:space="preserve">
                    <g>
                        <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                            c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                            c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
                    </g>
                </svg>

            </button>

            <div id="list-patients-component-searching-bar-selectBox3-menu">
                <div id="list-patients-component-searching-bar-selectBox3-menu-o1" data-value="all" class="list-patients-component-searching-bar-selectBox3-menu-options">Všechny</div>
                <!-- <div id="list-patients-component-searching-bar-selectBox3-menu-o2" data-value="A" class="list-patients-component-searching-bar-selectBox3-menu-options">A</div>
                <div id="list-patients-component-searching-bar-selectBox3-menu-o3" data-value="B" class="list-patients-component-searching-bar-selectBox3-menu-options">B</div>
                <div id="list-patients-component-searching-bar-selectBox3-menu-o4" data-value="C" class="list-patients-component-searching-bar-selectBox3-menu-options">C</div>
                <div id="list-patients-component-searching-bar-selectBox3-menu-o5" data-value="D" class="list-patients-component-searching-bar-selectBox3-menu-options">D</div> -->


                {% for building_id, building_name in data.buildings %}
                    <div class="list-patients-component-searching-bar-selectBox3-menu-options" data-value="{{ building_id }}">
                        {{ building_name}}
                    </div>
                {% endfor %}

            </div>

            <input type="hidden" name="list-patients-component-searching-bar-selectBox3-filter" id="list-patients-component-searching-bar-selectBox3-filter"  value="{{ data.building_filter }}">

        </div>

        <!-- <div id="list-patients-component-searching-bar-selectBox4">SelectBox 4</div> -->
        <div id="list-patients-component-searching-bar-selectBox4">

            <button id="list-patients-component-searching-bar-selectBox4-btn1" type="button">

                <span id="list-patients-component-searching-bar-selectBox4-sp1">Zdroj:</span>

                <!-- <strong id="clientSelectValue">Všichni</strong> -->
                <span id="list-patients-component-searching-bar-selectBox4-sp2">

                    {% if data.source_filter == "Cygnus" %}
                        Cygnus
                    {% elif data.source_filter == "Dods" %}
                        Dods
                    {% else %}
                        Všechny
                    {% endif %}

                </span>

                <!-- <span class="arrow">⌄</span> -->
                <svg id="list-patients-component-searching-bar-selectBox4-img" fill="currentcolor" viewBox="0 0 451.847 451.847" xml:space="preserve">
                    <g>
                        <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                            c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                            c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
                    </g>
                </svg>

            </button>

            <div id="list-patients-component-searching-bar-selectBox4-menu">
                <div id="list-patients-component-searching-bar-selectBox4-menu-o1" data-value="all" class="list-patients-component-searching-bar-selectBox4-menu-options">Všechny</div>
                <div id="list-patients-component-searching-bar-selectBox4-menu-o2" data-value="Cygnus" class="list-patients-component-searching-bar-selectBox4-menu-options">Cygnus</div>
                <div id="list-patients-component-searching-bar-selectBox4-menu-o3" data-value="Dods" class="list-patients-component-searching-bar-selectBox4-menu-options">Dods</div>
            </div>

            <input type="hidden" name="list-patients-component-searching-bar-selectBox4-filter" id="list-patients-component-searching-bar-selectBox4-filter" value="{{ data.source_filter }}">

        </div>

    </section>

    <section id="list-patients-component-listC">

        <div id="list-patients-component-listC-head">

            <!-- <span id="list-patients-component-listC-head-c1"> -->
                <label id="list-patients-component-listC-head-c1">
                    <input type="checkbox" id="list-patients-component-listC-head-c1-checkbox" data-total-records="{{ total_records }}">

                    <span id="list-patients-component-listC-head-c1-checkbox-box">
                        <!-- <svg viewBox="0 0 24 24">
                            <path d="M5 12.5L10 17L19 7"/>
                        </svg> -->

                        <svg viewBox="4 6 16 12">
                            <path d="M5 12.5L10 17L19 7"/>
                        </svg>

                    </span>

                </label>
            <!-- </span> -->
            <span id="list-patients-component-listC-head-c2">Klient</span>
            <span id="list-patients-component-listC-head-c3">Budova</span>
            <span id="list-patients-component-listC-head-c4">Oddělení</span>
            <span id="list-patients-component-listC-head-c5">Pokoj</span>
            <span id="list-patients-component-listC-head-c6">Lůžko</span>
            <span id="list-patients-component-listC-head-c7">Zdroj</span>

        </div>

        <div id="list-patients-component-listC-listC2">

            <div id="list-patients-component-listC-listC2-content">

                 {% include "clients_table.html" %}

            </div>


            <div id="list-patients-component-listC-listC2-scrollC">
                <div id="list-patients-component-listC-listC2-scrollC-thumb"></div>
            </div>

        </div>

    </section>

    <div id="list-patients-component-listC-deleteC-shadow">
        <p>XXX</p>
    </div>

    <section id="list-patients-component-listC-deleteC">

            <div id="list-patients-component-listC-deleteC-row1">
                <p  id="list-patients-component-listC-deleteC-row1-notice"> Opravdu chcete odstranit klienta?</p>
                <span id="list-patients-component-listC-deleteC-row1-client">Michal Kraninger</span>
            </div>

            <div id="list-patients-component-listC-deleteC-row2">

                <button  id="list-patients-component-listC-deleteC-row2-noBtn">Zrušit</button>
                <button  id="list-patients-component-listC-deleteC-row2-deleteBtn">Odstranit</button>

            </div>

    </section>

    <section id="client-card">

        <div id="client-card-row1">

            <p id="client-card-row1-p1"> Klient</p>
            <p id="client-card-row1-p2"> Umístění</p>
            <button id="client-card-row1-btn1">
                <svg id="client-card-row1-btn1-img" viewBox="0 0 24 24" fill="currentcolor">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.46967 5.46967C5.76256 5.17678 6.23744 5.17678 6.53033 5.46967L18.5303 17.4697C18.8232 17.7626 18.8232 18.2374 18.5303 18.5303C18.2374 18.8232 17.7626 18.8232 17.4697 18.5303L5.46967 6.53033C5.17678 6.23744 5.17678 5.76256 5.46967 5.46967Z" fill="currentcolor"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5303 5.46967C18.8232 5.76256 18.8232 6.23744 18.5303 6.53033L6.53035 18.5303C6.23745 18.8232 5.76258 18.8232 5.46969 18.5303C5.17679 18.2374 5.17679 17.7626 5.46968 17.4697L17.4697 5.46967C17.7626 5.17678 18.2374 5.17678 18.5303 5.46967Z" fill="currentcolor"/>
                </svg>
            </button>

        </div>

        <div id="client-card-row2">

            <div id="client-card-row2-c1">

                <div id="client-card-row2-c1-imgC">

                    <!-- <svg id="client-card-row2-c1-imgC-img1" viewBox="0 0 44.64 44.64"> -->
                    <svg id="client-card-row2-c1-imgC-img1" viewBox="11 9 22 24">
                        <defs>
                            <style>
                            .client-card-row2-c1-imgC-img1-cls-1 {
                                opacity: .7;
                            }

                            .client-card-row2-c1-imgC-img1-cls-2 {
                                fill: none;
                                stroke: currentColor;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-width: 1.2px;
                            }
                            </style>
                        </defs>
                        <g class="client-card-row2-c1-imgC-img1-cls-1">
                            <circle class="client-card-row2-c1-imgC-img1-cls-2" cx="22.32" cy="16.79" r="5.48"/>
                            <path class="client-card-row2-c1-imgC-img1-cls-2" d="M14.2,30.47c0-4.5,3.65-8.15,8.15-8.15s8.15,3.65,8.15,8.15"/>
                        </g>
                    </svg>

                    <svg id="client-card-row2-c1-imgC-img2" viewBox="0 0 23.9 23.9">
                        <defs>
                            <style>
                            .client-card-row2-c1-imgC-img2-cls-1 {
                                fill: currentColor;
                                stroke: currentColor;
                                stroke-miterlimit: 10;
                                stroke-width: .10px;
                            }
                            </style>
                        </defs>
                        <path class="client-card-row2-c1-imgC-img2-cls-1" d="M12.33,11.2v-4.64c0-.29-.23-.52-.52-.52s-.52.23-.52.52v4.64h-4.64c-.29,0-.52.23-.52.52s.23.52.52.52h4.64v4.64c0,.29.23.52.52.52.14,0,.27-.06.37-.15s.15-.22.15-.37v-4.64h4.64c.14,0,.27-.06.37-.15s.15-.22.15-.37c0-.29-.23-.52-.52-.52h-4.64Z"/>
                    </svg>



                </div>

            </div>

            <div id="client-card-row2-c2">

                <div id="client-card-row2-c2-name">
                    <label for="client-card-row2-c2-name-i1" id="client-card-row2-c2-name-i1-l">Jméno</label>
                    <input type="text" id="client-card-row2-c2-name-i1" name="client-card-row2-c2-name-i1" placeholder="">
                </div>

                <div id="client-card-row2-c2-surname">
                    <label for="client-card-row2-c2-surname" id="client-card-row2-c2-surname-i1-l">Příjmení</label>
                    <input type="text" id="client-card-row2-c2-surname-i1" name="client-card-row2-c2-surname-i1" placeholder="">
                </div>

                <div id="client-card-row2-c2-radioC">

                    <div id="client-card-row2-c2-radioC-radio1C">

                        <label class="custom-radio">
                            <span class="radio-text">Muž</span>
                            <input type="radio" name="gender" value="1" checked>
                            <span class="radio-circle"></span>
                        </label>

                    </div>

                    <div id="client-card-row2-c2-radioC-radio2C">

                        <label class="custom-radio">
                            <span class="radio-text">Žena</span>
                            <input type="radio" name="gender" value="2">
                            <span class="radio-circle"></span>
                        </label>

                    </div>

                    <div id="client-card-row2-c2-radioC-radio3C">

                        <label class="custom-radio">
                            <span class="radio-text">Jiný</span>
                            <input type="radio" name="gender" value="3">
                            <span class="radio-circle"></span>
                        </label>

                    </div>

                </div>

                <div id="client-card-row2-c2-sourceC">
                    <label for="client-card-row2-c2-source-i1" id="client-card-row2-c2-source-i1-l">Zdroj</label>
                    <input type="text" id="client-card-row2-c2-source-i1" name="client-card-row2-c2-source-i1" placeholder="---">
                </div>

                <div id="client-card-row2-c2-IDC">
                    <label for="client-card-row2-c2-IDC-i1" id="client-card-row2-c2-IDC-i1-l">ID</label>
                    <input type="text" id="client-card-row2-c2-IDC-i1" name="client-card-row2-c2-IDC-i1" placeholder="72633839">
                </div>



            </div>

            <div id="client-card-row2-c3">

                <div id="client-card-row2-c3-searchC">

                    <div id="client-card-row2-c3-searchC-magnifierC">

                        <svg id="client-card-row2-c3-searchC-magnifierC-magnifier"  viewBox="4.5 4.5 16 16">
                            <defs>
                                <style>
                                .client-card-row2-c3-searchC-magnifierC-magnifier-m_cls-1 {
                                    fill: currentColor;
                                    opacity: .71;
                                }
                                </style>
                            </defs>
                            <path class="client-card-row2-c3-searchC-magnifierC-magnifier-m_cls-1" d="M10.67,5.09c3.03,0,5.5,2.47,5.5,5.5,0,1.2-.39,2.3-1.04,3.21l4.46,4.32c.39.38.4,1,.02,1.39-.19.2-.45.3-.71.3s-.5-.09-.69-.28l-4.47-4.33s-.01-.02-.02-.03c-.87.59-1.92.93-3.05.93-3.03,0-5.5-2.47-5.5-5.5s2.47-5.5,5.5-5.5ZM10.67,14.61c2.22,0,4.02-1.8,4.02-4.02s-1.8-4.02-4.02-4.02-4.02,1.8-4.02,4.02,1.8,4.02,4.02,4.02Z"/>
                        </svg>

                    </div>

                    <div id="client-card-row2-c3-searchC-searchWrapper">

                        <span id="client-card-row2-c3-searchC-searchLabel" class="{% if data.search %}hidden{% endif %}">
                            Vyhledat oddělení
                        </span>

                        <input id="client-card-row2-c3-searchC-searchInput" type="search"  maxlength="50" name="q" autocomplete="off" spellcheck="false" value="{{ data.search }}">

                    </div>

                </div>

                <div id="client-card-row2-c3-SB1C" >

                    <span id="client-card-row2-c3-SB1C-title"> Budova </span>

                    <div id="client-card-row2-c3-SB1C-wrapper" class="SB1C-select-wrapper SB1C-custom-building-select">

                        <button type="button" id="SB1C-buildingBtn" class="SB1C-building-btn">

                            <span id="SB1C-buildingText">Nová budova B</span>

                            <svg id="SB1C-dropdownImg" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z"
                                    fill="currentColor"/>
                            </svg>

                        </button>

                        <!-- <div id="SB1C-buildingMenu" class="SB1C-building-menu">

                                <button type="button" class="SB1C-building-option" data-value="{{ value }}">
                                   Budova A
                                </button>

                                <button type="button" class="SB1C-building-option" data-value="{{ value }}">
                                   Budova B
                                </button>

                                <button type="button" class="SB1C-building-option" data-value="{{ value }}">
                                   Budova C
                                </button>
                        </div> -->


                    </div>

                </div>

                <div id="client-card-row2-c3-SB2C" >

                    <span id="client-card-row2-c3-SB2C-title"> Patro </span>

                    <div id="client-card-row2-c3-SB2C-wrapper" class="SB2C-select-wrapper SB2C-custom-floor-select">

                        <button type="button" id="SB2C-floorBtn" class="SB2C-floor-btn">

                            <span id="SB2C-floorText">4.</span>

                            <svg id="SB2C-dropdownImg" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z"
                                    fill="currentColor"/>
                            </svg>

                        </button>

                        <!-- <div id="SB2C-floorMenu" class="SB2C-floor-menu">

                                <button type="button" class="SB2C-floor-option" data-value="{{ value }}">
                                   Budova A
                                </button>

                                <button type="button" class="SB2C-floor-option" data-value="{{ value }}">
                                   Budova B
                                </button>

                                <button type="button" class="SB2C-floor-option" data-value="{{ value }}">
                                   Budova C
                                </button>

                        </div> -->

                    </div>

                </div>

                <div id="client-card-row2-c3-SB3C" >

                    <span id="client-card-row2-c3-SB3C-title"> Oddělení </span>

                    <div id="client-card-row2-c3-SB3C-wrapper" class="SB3C-select-wrapper SB3C-custom-dep-select">

                        <button type="button" id="SB3C-depBtn" class="SB3C-dep-btn">

                            <span id="SB3C-depText">Intenzivní péče (JIP)</span>

                            <svg id="SB3C-dropdownImg" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z"
                                    fill="currentColor"/>
                            </svg>

                        </button>

                        <!-- <div id="SB3C-depMenu" class="SB3C-dep-menu">

                                <button type="button" class="SB3C-dep-option" data-value="{{ value }}">
                                   Budova A
                                </button>

                                <button type="button" class="SB3C-dep-option" data-value="{{ value }}">
                                   Budova B
                                </button>

                                <button type="button" class="SB3C-dep-option" data-value="{{ value }}">
                                   Budova C
                                </button>

                        </div> -->

                    </div>

                </div>

                <div id="client-card-row2-c3-SB4C" >

                    <span id="client-card-row2-c3-SB4C-title"> Pokoj </span>

                    <div id="client-card-row2-c3-SB4C-wrapper" class="SB4C-select-wrapper SB4C-custom-room-select">

                        <button type="button" id="SB4C-roomBtn" class="SB4C-room-btn">

                            <span id="SB4C-roomText"></span>

                            <svg id="SB4C-dropdownImg" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z"
                                    fill="currentColor"/>
                            </svg>

                        </button>

                        <!-- <div id="SB4C-roomMenu" class="S4C-room-menu">

                                <button type="button" class="SB4C-room-option" data-value="{{ value }}">
                                   Budova A
                                </button>

                                <button type="button" class="SB4C-room-option" data-value="{{ value }}">
                                   Budova B
                                </button>

                                <button type="button" class="SB4C-room-option" data-value="{{ value }}">
                                   Budova C
                                </button>

                        </div> -->

                    </div>

                </div>


            </div>

            <div id="client-card-row2-c4">

                <div id="client-card-row2-c4-checkC">

                    <input type="checkbox" id="client-card-row2-c4-checkC-checkbox" name="client-card-row2-c4-checkC-checkbox">
                    <label for="client-card-row2-c4-checkC-checkbox" id="client-card-row2-c4-checkC-checkbox-l"> Pouze volná lůžka </label>

                </div>

                <div id="client-card-row2-c4-accomC"></div>

                <span id="client-card-row2-c4-inf">* pro umístění zvolte volné lůžko</span>

            </div>

            <div id="client-card-row2-c5">

                <button id="client-card-row2-c5-btn">Potvrdit</button>

            </div>

        </div>

    </section>

</section>
