<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CCS</title>

        <!-- CSS styles -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}">

    </head>
    <body>


        <section id="wholeView">


           <section id="navBar">


             <section id="navInformation">

                <div id="dateC">

                    <p id="day">24</p>
                    <p class = "dot">.</p>
                    <p id="month">3</p>
                    <p class = "dot">.</p>
                    <p id="year">2026</p>

                </div>

                <div id="hourC">

                    <p id="hour">12</p>
                    <p id="colon">:</p>
                    <p id="minutes">00</p>

                </div>

                <div id="nameC">

                    <span id="userName">{{name}}</span>
                    <span id="userSurname">{{surname}}</span>

                    <!-- <svg id="personImg" viewBox="0 0 44.64 44.64"> -->
                    <svg id="personImg" viewBox="13 10 19 22">
                        <defs>
                            <style>
                            .person-cls-1 {
                                opacity: .7;
                            }

                            .person-cls-2 {
                                fill: none;
                                stroke: #1b2838;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-width: 2px;
                            }
                            </style>
                        </defs>
                        <g class="person-cls-1">
                            <circle class="person-cls-2" cx="22.32" cy="16.79" r="5.48"/>
                            <path class="person-cls-2" d="M14.2,30.47c0-4.5,3.65-8.15,8.15-8.15s8.15,3.65,8.15,8.15"/>
                        </g>
                    </svg>

                </div>

                <div id="exitC">

                    <button id="exitBtn">

                        <!-- <svg id="exitImg" viewBox="0 0 44.64 44.64"> -->

                       <!-- <svg id="exitImg" viewBox="7 10 32 20">

                            <defs>
                                <style>
                                .cls-1 {
                                    fill: none;
                                    opacity: .7;
                                    stroke: #1b2838;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-width: 2px;
                                }
                                </style>
                            </defs>
                            <path class="cls-1" d="M19.32,31.73h-2.8c-4.07,0-7.36-3.3-7.36-7.36v-7.25c0-4.07,3.3-7.36,7.36-7.36h2.8"/>
                            <polygon class="cls-1" points="37.01 20.6 24.76 10.12 24.76 16.18 14.23 16.18 14.23 25.02 24.76 25.02 24.76 31.08 37.01 20.6"/>
                        </svg> -->

                        <svg id="exitImg" viewBox="7.16 8.76 30.85 23.97">
                            <defs>
                                <style>
                                .cls-1 {
                                    fill: none;
                                    opacity: .7;
                                    stroke: #1b2838;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-width: 2px;
                                }
                                </style>
                            </defs>
                            <path class="cls-1" d="M19.32,31.73h-2.8c-4.07,0-7.36-3.3-7.36-7.36v-7.25c0-4.07,3.3-7.36,7.36-7.36h2.8"/>
                            <polygon class="cls-1" points="37.01 20.6 24.76 10.12 24.76 16.18 14.23 16.18 14.23 25.02 24.76 25.02 24.76 31.08 37.01 20.6"/>
                        </svg>

                    </button>

                </div>

             </section>



           </section>

           <aside id="leftMenu">


                <!-- <div id="srow1" class="mainOption">
                    <svg id="StructureImg" viewBox="4 4 36 36">
                        <defs>
                            <style>
                            .structure-cls-1  {
                                fill: #1b2838;
                                opacity: .7;
                            }
                            </style>
                        </defs>
                        <path class="structure-cls-1" d="M15.35,34.03h-6.18c-.31,0-.56-.25-.56-.56v-3.85c0-.17.08-.33.21-.43l3.09-2.46c.2-.16.49-.16.69,0l3.09,2.46c.13.11.21.27.21.43v3.85c0,.31-.25.56-.56.56Z"/>
                        <path class="structure-cls-1" d="M25.44,34.03h-6.18c-.31,0-.56-.25-.56-.56v-3.85c0-.17.08-.33.21-.43l3.09-2.46c.2-.16.49-.16.69,0l3.09,2.46c.13.11.21.27.21.43v3.85c0,.31-.25.56-.56.56Z"/>
                        <path class="structure-cls-1" d="M35.52,34.03h-6.18c-.31,0-.56-.25-.56-.56v-3.85c0-.17.08-.33.21-.43l3.09-2.46c.2-.16.49-.16.69,0l3.09,2.46c.13.11.21.27.21.43v3.85c0,.31-.25.56-.56.56Z"/>
                        <path class="structure-cls-1" d="M30.57,24.83h-6.18c-.31,0-.56-.25-.56-.56v-3.85c0-.17.08-.33.21-.43l3.09-2.46c.2-.16.49-.16.69,0l3.09,2.46c.13.11.21.27.21.43v3.85c0,.31-.25.56-.56.56Z"/>
                        <path class="structure-cls-1" d="M25.63,16.16h-6.18c-.31,0-.56-.25-.56-.56v-3.85c0-.17.08-.33.21-.43l3.09-2.46c.2-.16.49-.16.69,0l3.09,2.46c.13.11.21.27.21.43v3.85c0,.31-.25.56-.56.56Z"/>
                        <path class="structure-cls-1" d="M20.31,24.83h-6.18c-.31,0-.56-.25-.56-.56v-3.85c0-.17.08-.33.21-.43l3.09-2.46c.2-.16.49-.16.69,0l3.09,2.46c.13.11.21.27.21.43v3.85c0,.31-.25.56-.56.56Z"/>
                    </svg>

                   <p class="mainDescription">Struktura organizace</p>


                    <svg id="dropdownImg" class="dropdowns" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z"
                                    fill="currentColor"/>
                    </svg>

                </div>  -->



                <div id="srow1" class="mainOption">

                     <div id="srow1-c1">

                        <svg id="StructureImg" viewBox="6 6 32 32">
                            <defs>
                                <style>
                                .structure-cls-1  {
                                    fill: #1b2838;
                                    opacity: .7;
                                }
                                </style>
                            </defs>
                            <path class="structure-cls-1" d="M15.35,34.03h-6.18c-.31,0-.56-.25-.56-.56v-3.85c0-.17.08-.33.21-.43l3.09-2.46c.2-.16.49-.16.69,0l3.09,2.46c.13.11.21.27.21.43v3.85c0,.31-.25.56-.56.56Z"/>
                            <path class="structure-cls-1" d="M25.44,34.03h-6.18c-.31,0-.56-.25-.56-.56v-3.85c0-.17.08-.33.21-.43l3.09-2.46c.2-.16.49-.16.69,0l3.09,2.46c.13.11.21.27.21.43v3.85c0,.31-.25.56-.56.56Z"/>
                            <path class="structure-cls-1" d="M35.52,34.03h-6.18c-.31,0-.56-.25-.56-.56v-3.85c0-.17.08-.33.21-.43l3.09-2.46c.2-.16.49-.16.69,0l3.09,2.46c.13.11.21.27.21.43v3.85c0,.31-.25.56-.56.56Z"/>
                            <path class="structure-cls-1" d="M30.57,24.83h-6.18c-.31,0-.56-.25-.56-.56v-3.85c0-.17.08-.33.21-.43l3.09-2.46c.2-.16.49-.16.69,0l3.09,2.46c.13.11.21.27.21.43v3.85c0,.31-.25.56-.56.56Z"/>
                            <path class="structure-cls-1" d="M25.63,16.16h-6.18c-.31,0-.56-.25-.56-.56v-3.85c0-.17.08-.33.21-.43l3.09-2.46c.2-.16.49-.16.69,0l3.09,2.46c.13.11.21.27.21.43v3.85c0,.31-.25.56-.56.56Z"/>
                            <path class="structure-cls-1" d="M20.31,24.83h-6.18c-.31,0-.56-.25-.56-.56v-3.85c0-.17.08-.33.21-.43l3.09-2.46c.2-.16.49-.16.69,0l3.09,2.46c.13.11.21.27.21.43v3.85c0,.31-.25.56-.56.56Z"/>
                        </svg>



                     </div>

                     <div id="srow1-c2">
                        <p class="mainDescription">Struktura organizace</p>
                     </div>

                     <div id="srow1-c3">

                        <!-- <svg id="dropdownImg" viewBox="0 0 24 24"> -->
                        <svg id="dropdownImg" viewBox="5 7 14 9">

                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z"
                                    fill="currentColor"/>
                        </svg>


                     </div>



                </div>




           </aside>

           <div id="codacoC">
            <svg
                version="1.1"
                id="svg1"
                width="489.650"
                height="109.641"
                viewBox="555.460 319.762 489.650 109.641"
                sodipodi:docname="codaco.svg"
                inkscape:version="1.4.2 (f4327f4, 2025-05-13)"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg">
                <defs
                    id="defs1">
                    <clipPath
                    clipPathUnits="userSpaceOnUse"
                    id="clipPath2">
                    <path
                        d="M 0,600 H 1200 V 0 H 0 Z"
                        transform="translate(-780.08259,-319.30421)"
                        id="path2" />
                    </clipPath>
                    <clipPath
                    clipPathUnits="userSpaceOnUse"
                    id="clipPath4">
                    <path
                        d="M 0,600 H 1200 V 0 H 0 Z"
                        transform="translate(-456.80131,-302.12461)"
                        id="path4" />
                    </clipPath>
                    <clipPath
                    clipPathUnits="userSpaceOnUse"
                    id="clipPath6">
                    <path
                        d="M 0,600 H 1200 V 0 H 0 Z"
                        transform="translate(-567.51892,-302.12471)"
                        id="path6" />
                    </clipPath>
                    <clipPath
                    clipPathUnits="userSpaceOnUse"
                    id="clipPath8">
                    <path
                        d="M 0,600 H 1200 V 0 H 0 Z"
                        transform="translate(-507.23092,-313.24871)"
                        id="path8" />
                    </clipPath>
                    <clipPath
                    clipPathUnits="userSpaceOnUse"
                    id="clipPath10">
                    <path
                        d="M 0,600 H 1200 V 0 H 0 Z"
                        transform="translate(-687.30311,-302.12461)"
                        id="path10" />
                    </clipPath>
                    <clipPath
                    clipPathUnits="userSpaceOnUse"
                    id="clipPath12">
                    <path
                        d="M 0,600 H 1200 V 0 H 0 Z"
                        transform="translate(-737.73272,-313.24871)"
                        id="path12" />
                    </clipPath>
                    <clipPath
                    clipPathUnits="userSpaceOnUse"
                    id="clipPath14">
                    <path
                        d="M 0,600 H 1200 V 0 H 0 Z"
                        transform="translate(-627.08531,-301.58091)"
                        id="path14" />
                    </clipPath>
                </defs>
                <sodipodi:namedview
                    id="namedview1"
                    pagecolor="#ffffff"
                    bordercolor="#000000"
                    borderopacity="0.25"
                    inkscape:showpageshadow="2"
                    inkscape:pageopacity="0.0"
                    inkscape:pagecheckerboard="0"
                    inkscape:deskcolor="#d1d1d1"
                    inkscape:zoom="1.00875"
                    inkscape:cx="799.50434"
                    inkscape:cy="400"
                    inkscape:window-width="1920"
                    inkscape:window-height="1009"
                    inkscape:window-x="-8"
                    inkscape:window-y="-8"
                    inkscape:window-maximized="1"
                    inkscape:current-layer="layer-MC0">
                    <inkscape:page
                    x="0"
                    y="0"
                    inkscape:label="1"
                    id="page1"
                    width="1600"
                    height="800"
                    margin="375.59732 559.88934 324.76266 560.46002"
                    bleed="0" />
                </sodipodi:namedview>
                <g
                    id="layer-MC0"
                    inkscape:groupmode="layer"
                    inkscape:label="Layer 1">
                    <path
                    id="path1"
                    d="m 0,0 -15.039,0.215 c -0.184,0.528 -0.382,1.052 -0.584,1.572 -1.272,3.226 -2.935,6.262 -4.914,9.035 -4.15,5.811 -9.755,10.53 -16.283,13.617 l 7.294,12.434 C -21.267,32.732 -14.172,26.624 -8.842,19.17 -6.182,15.442 -3.95,11.378 -2.243,7.045 -1.349,4.769 -0.598,2.415 0,0"
                    style="fill:#4889d0;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    transform="matrix(1.3333333,0,0,-1.3333333,1040.1101,374.26107)"
                    clip-path="url(#clipPath2)" />
                    <path
                    id="path3"
                    d="m 0,0 10.434,-9.801 c -4.722,-6.42 -12.336,-10.586 -20.921,-10.586 -14.341,0 -25.969,11.628 -25.969,25.969 0,14.341 11.628,25.969 25.969,25.969 8.62,0 16.261,-4.201 20.979,-10.665 L -0.325,11.743 c -2.085,3.431 -5.854,5.721 -10.162,5.721 -6.563,0 -11.882,-5.319 -11.882,-11.882 0,-6.562 5.319,-11.882 11.882,-11.882 4.544,0 8.491,2.549 10.487,6.3"
                    style="fill:#162130;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    transform="matrix(1.3333333,0,0,-1.3333333,609.0684,397.1672)"
                    clip-path="url(#clipPath4)" />
                    <path
                    id="path5"
                    d="m 0,0 c -1.996,-3.751 -5.943,-6.3 -10.487,-6.3 -6.563,0 -11.882,5.32 -11.882,11.882 0,6.563 5.319,11.882 11.882,11.882 4.308,0 8.077,-2.29 10.162,-5.721 C 0.766,9.944 1.394,7.837 1.394,5.582 1.394,3.564 0.891,1.666 0,0 M 1.394,54.304 V 28.676 c -3.56,1.836 -7.599,2.875 -11.881,2.875 -14.342,0 -25.969,-11.628 -25.969,-25.969 0,-14.341 11.627,-25.969 25.969,-25.969 8.584,0 16.194,4.166 20.917,10.586 3.176,4.308 5.047,9.623 5.047,15.383 v 48.722 z"
                    style="fill:#162130;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    transform="matrix(1.3333333,0,0,-1.3333333,756.69187,397.16707)"
                    clip-path="url(#clipPath6)" />
                    <path
                    id="path7"
                    d="m 0,0 c 0.891,-1.666 1.394,-3.564 1.394,-5.582 0,-2.255 -0.628,-4.362 -1.719,-6.161 -2.085,-3.431 -5.854,-5.721 -10.162,-5.721 -6.563,0 -11.882,5.319 -11.882,11.882 0,6.562 5.319,11.882 11.882,11.882 C -5.943,6.3 -1.996,3.751 0,0 m 15.477,-5.582 c 0,5.76 -1.871,11.075 -5.048,15.383 -4.722,6.42 -12.331,10.586 -20.916,10.586 -14.342,0 -25.969,-11.628 -25.969,-25.969 0,-14.341 11.627,-25.969 25.969,-25.969 8.62,0 16.256,4.201 20.979,10.665 3.136,4.291 4.985,9.579 4.985,15.304"
                    style="fill:#162130;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    transform="matrix(1.3333333,0,0,-1.3333333,676.30787,382.33507)"
                    clip-path="url(#clipPath8)" />
                    <path
                    id="path9"
                    d="m 0,0 10.434,-9.801 c -4.723,-6.42 -12.336,-10.586 -20.921,-10.586 -14.342,0 -25.97,11.628 -25.97,25.969 0,14.341 11.628,25.969 25.97,25.969 8.62,0 16.261,-4.201 20.979,-10.665 L -0.325,11.743 c -2.085,3.431 -5.854,5.721 -10.162,5.721 -6.563,0 -11.882,-5.319 -11.882,-11.882 0,-6.562 5.319,-11.882 11.882,-11.882 4.544,0 8.491,2.549 10.487,6.3"
                    style="fill:#162130;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    transform="matrix(1.3333333,0,0,-1.3333333,916.40413,397.1672)"
                    clip-path="url(#clipPath10)" />
                    <path
                    id="path11"
                    d="m 0,0 c 0.891,-1.666 1.394,-3.564 1.394,-5.582 0,-2.255 -0.628,-4.362 -1.719,-6.161 -2.085,-3.431 -5.854,-5.721 -10.162,-5.721 -6.563,0 -11.882,5.319 -11.882,11.882 0,6.562 5.319,11.882 11.882,11.882 C -5.943,6.3 -1.996,3.751 0,0 m 15.477,-5.582 c 0,5.76 -1.871,11.075 -5.048,15.383 -4.722,6.42 -12.331,10.586 -20.916,10.586 -14.342,0 -25.969,-11.628 -25.969,-25.969 0,-14.341 11.627,-25.969 25.969,-25.969 8.62,0 16.256,4.201 20.979,10.665 3.136,4.291 4.985,9.579 4.985,15.304"
                    style="fill:#162130;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    transform="matrix(1.3333333,0,0,-1.3333333,983.6436,382.33507)"
                    clip-path="url(#clipPath12)" />
                    <path
                    id="path13"
                    d="m 0,0 c -2.085,-3.431 -5.854,-5.72 -10.162,-5.72 -6.563,0 -11.882,5.319 -11.882,11.881 0,6.563 5.319,11.882 11.882,11.882 4.544,0 8.491,-2.548 10.487,-6.3 C 1.216,10.078 1.72,8.179 1.72,6.161 1.72,3.907 1.091,1.8 0,0 m 10.755,21.545 c -4.723,6.42 -12.332,10.586 -20.917,10.586 -14.341,0 -25.969,-11.629 -25.969,-25.97 0,-14.341 11.628,-25.969 25.969,-25.969 4.283,0 8.321,1.039 11.882,2.875 v -2.946 h 14.082 v 26.04 c 0,5.761 -1.871,11.076 -5.047,15.384"
                    style="fill:#162130;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    transform="matrix(1.3333333,0,0,-1.3333333,836.11373,397.89213)"
                    clip-path="url(#clipPath14)" />
                </g>
            </svg>
           </div>


        </section>

        <!-- JS scripts  -->

        <script src="{{ url_for('static', filename='js/base.js') }}" defer></script>

    </body>
</html>