<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>

    <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/loginForm.css') }}">

</head>
<body class="no-scrollbar">

    <form id="loginForm" method="post">

        {{ form.hidden_tag() }}  <!-- CSRF token -->

        <h1 id="formTitle">

            <span id="titleText">přihlásit se do systému</span>
            <span id="codaco">Codaco</span></h1>

        <div id="innerC">

            <div id="group1" title="Zadejte jméno pro přihlášení!">

                {{ form.name.label(id="l1") }}
                {{ form.name(maxLength=50, id="name", title="Zadejte jméno pro přihlášení!", autocomplete="off", autofocus=(focus_field=="name")) }}


                <div id="errorC2" class="error-container" {% if not form.name.errors %}style="display:none"{% endif %}>

                    <div id="messageC">
                        {% for err in form.name.errors %}
                            <p class="error">{{ err }} </p>
                        {% endfor %}
                    </div>

                    <button id="errorBtn2" class="close" type="button">

                        <svg width="15px" height="15px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--emojione-monotone" preserveAspectRatio="xMidYMid meet">
                            <path d="M62 10.571L53.429 2L32 23.429L10.571 2L2 10.571L23.429 32L2 53.429L10.571 62L32 40.571L53.429 62L62 53.429L40.571 32z" fill="red"></path>
                        </svg>

                    </button>

                </div>


            </div>

            <div id="group2" title="Zadejte heslo!">

                {{ form.password.label (id="l2")}}
                <!-- {{ form.password(maxLength=50, id="password", title="Zadej heslo.", required=True, data_error=(form.password.errors[0] if form.password.errors else "")) }} -->

                {{form.password(maxLength=50, id="password", title="Zadej heslo.", autofocus=(focus_field=="password"))}}

                <div id="errorC" class="error-container" {% if not form.password.errors %}style="display:none"{% endif %}>

                    <div id="messageC2">
                        {% for err in form.password.errors %}
                            <p class="error">{{ err }} </p>
                        {% endfor %}
                    </div>

                    <!-- <button id="errorBtn"> x </button> -->

                    <button id="errorBtn" class="close" type="button">

                        <svg width="15px" height="15px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--emojione-monotone" preserveAspectRatio="xMidYMid meet">
                            <path d="M62 10.571L53.429 2L32 23.429L10.571 2L2 10.571L23.429 32L2 53.429L10.571 62L32 40.571L53.429 62L62 53.429L40.571 32z" fill="red"></path>
                        </svg>

                    </button>

                </div>

            </div>


            <div id="group3"  title="Volba jazyka.">

                {{ form.language.label(id="l3") }}
                {{ form.language(id="language", title="Volba jazyka.") }}
                {% for err in form.language.errors %}
                    <p style="color:red">{{ err }}</p>
                {% endfor %}

            </div>


        </div>

        {{ form.submit(id="submitBtn", class="btn tip",  title="Tlačítko pro odeslání dat.")}}

    </form>

    <!-- <div id="TazC" {% if not (form.password.errors or form.name.errors) %}style="display:none"{% endif %}>

        <div id="TazC2">
            <img src="{{ photo_url }}" alt="Moje foto" id="myPortrait">
        </div>

    </div> -->

    <!-- <div id="spinner" class="spinner-overlay" style="display:none;">
        <div class="loader"></div>
        <div id="LFerrorMessage" style="margin-top: 10px;"> Načítání databáze ... </div>
    </div> -->

    <div id="spinner"  class="spinner hideSpinner">
        <div class="loader"></div>
        <div id="LFerrorMessage" style="margin-top: 5px;"> Načítání databáze . . . </div>
    </div>

    <script src="{{ url_for('auth.static', filename='js/loginForm.js') }}"></script>

    <!-- Dnešní pokus 17.3.2026 -->

    <script src="{{ url_for('static', filename='js/db_status.js') }}" defer></script>

</body>
</html>