@font-face
{
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face
{
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face
{
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face
{
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face
{
  font-family: 'Chewy';
  src: url('/static/fonts/Chewy/Chewy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html, body
{
  margin: 0;
  overflow: hidden;
}

*, *::before, *::after
{
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

body
{
    /* background-color: #87CEFA; */

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    height: 100dvh;

    position: relative;

    /*
    background: linear-gradient(
      to bottom,
      rgb(234,237,239) 0%,
      rgb(234,237,239) 10%,
      rgb(236,238,240) 20%,
      rgb(238,239,242) 30%,
      rgb(240,241,243) 40%,
      rgb(242,243,245) 50%,
      rgb(245,245,247) 60%,
      rgb(247,248,249) 70%,
      rgb(250,250,251) 80%,
      rgb(252,252,253) 90%,
      rgb(255,255,255) 100%
    ); */

}

/* mobil */

@media   (max-width: 319px)
{
  body
  {
    display: none
  }
}

@media  (min-width: 320px) and (max-width: 359px)
{
  body
  {
    display: none
  }
}

@media  (min-width: 360px) and (max-width: 449px)
{
  body
  {
    display: none
  }
}

#navBar
{
  width: 100%;
  /* height: 72px; */

  height: 83px;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  padding-top: 22px;
}

/* mobil */
@media  (min-width: 450px) and (max-width: 575px)
{
  body
  {
    display: none
  }
}

/* mobil/tablet */
@media (min-width: 576px) and (max-width: 767px)
{
  body
  {
    display: none
  }
}

/* tablet*/
@media (min-width: 768px) and (max-width: 991px)
{
  body
  {
    display: none
  }
}

/* počítačová obrazovka */
@media (min-width: 992px) and (max-width: 1199px)
{

  body
  {
    background-color: lightgreen !important;
  }

  #navBar
  {
    background-color: green !important;
  }

  #srow0
  {
    height: 25px;
  }


}

/* počítačová obrazovka */
@media (min-width: 1200px) and (max-width: 1399px)
{

  body
  {
    background-color: lightblue !important;
  }

  #navBar
  {
    background-color: blue !important;
  }

  #srow0
  {
    height: 35px;
  }

}

/* počítačová obrazovka */
@media (min-width: 1400px)
{

  body
  {
    background: linear-gradient(
      to bottom,
      rgb(234,237,239) 0%,
      rgb(234,237,239) 10%,
      rgb(236,238,240) 20%,
      rgb(238,239,242) 30%,
      rgb(240,241,243) 40%,
      rgb(242,243,245) 50%,
      rgb(245,245,247) 60%,
      rgb(247,248,249) 70%,
      rgb(250,250,251) 80%,
      rgb(252,252,253) 90%,
      rgb(255,255,255) 100%
    );
  }


  #navBar
  {
    background-color: violet !important;
  }

  #srow0
  {
    height: 44px;
  }

}

/* Experimental research and development 5.5.2026 */

#wholeView
{
  width: 100%;
  height: 100%;

  background-color: goldenrod !important;

  position: relative;
}

#leftMenu
{
  /* width: 396px; */

  width: 20.6%;

  height: calc(100% - 83px);

  min-height: 862px;

  background-color: yellowgreen !important;

  overflow: auto;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;


}

/*  Dnešní experimenty 6.5.2026 */

#navInformation
{
  width: auto;
  height: 28px;
  /* max-width: 50%; */
  max-width: 960px;

  background-color: red;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#dateC
{
  width: 25%;
  height: 28px;

  background-color: palegreen;
}

#hourC
{
  width: 25%;
  height: 28px;

  background-color: gold;
}

#nameC
{
  width: auto;
  height: 28px;

  background-color: lightcoral;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  border-left: 2px solid rgba(180,184,196,1);
}

#exitC
{
  width: auto;
  height: 28px;

  background-color: lightgray;

  /* position: relative; */

  border-left: 2px solid rgba(180,184,196,1);

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0px;
}

#exitImg
{
  width: 31px;
  height: 31px;

  /* background-color: transparent; */
}

#exitBtn
{
  /* position: absolute;
  top: -8px;
  right: 14px; */

  background-color: transparent;
  outline: none;
  border: none;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: 26px;
  margin-right: 27px;

  width: auto;
  height: auto;

  padding: 0px;
  padding-bottom: 1px;
}

#personImg
{
  width: 22px;
  height: 22px;

  background-color: red;

  margin-right: 23px;
  margin-left: 20px;
}

#userName
{
  background-color: yellow;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #192838;
  font-size: 17px;

  margin-left: 20px;

  padding-left: 0px;
  padding-right: 0px;

  max-width: 250px;
  min-width: 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

#userSurname
{
  background-color: cyan;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #192838;
  font-size: 17px;

  margin-left: 5px;

  padding-left: 0px;
  padding-right: 0px;

  max-width: 350px;
  min-width: 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Dnešní experimentální programování 7.5.2026 */

#hourC
{
  background-color: gold;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-left: 2px solid rgba(180,184,196,1);
}

#hour
{
  background-color: violet;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17px;
  color: #192838;

  margin-left: 16px;
}

#minutes
{
  background-color: lightblue;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17px;
  color: #192838;

  margin-right: 20px;
}

#colon
{
  background-color: lightcoral;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17px;
  color: #192838;
}

#dateC
{
  background-color: green;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#day
{
  background-color: limegreen;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17px;
  color: #192838;
}

.dot
{
  background-color: lightsalmon;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17px;
  color: #192838;

  margin-right: 6px;
  /* margin-left: 2px; */
}

#month
{
  background-color: lightseagreen;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17px;
  color: #192838;
}

#year
{
  background-color: lightsteelblue;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17px;
  color: #192838;

  margin-right: 16px;
}

#codacoC
{

  /* background-color: green; */

  position: absolute;
  left: 0;
  top: 0;

  padding-left: 24px;
  padding-top:  16px;

  width: auto;
  height: auto;
}

#svg1
{

  width: 138px;
  height: auto;

  /* background-color: red; */

}

.mainOption
{
  /* background-color: yellow; */

  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  align-items: center;

  width: 94%;
  height: auto;

  padding: 0px;

  /* position: relative; */

  border-top: 1px solid greenyellow  ;

  margin-bottom: 17px;

}

.mainDescription
{
  /* width: auto; */
  width: 210px;
  background-color: pink;
  margin: 0px;
  margin-left: 35px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 19px;
  color: #59646f;
  display:flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#StructureImg
{
  width: 32px;
  height: 32px;

  background-color: lightskyblue;

  color: #59646f;

  /* margin-left: 26px; */
}

#dropdownImg
{
  height: 13px;
  width: auto;
  /* height: 20px; */
  color: #59646f;
  pointer-events: none;
  transition: transform 0.2s ease;
  /* margin-right: 10px; */

  background-color: transparent !important;

  /* position: absolute; */
  /* right: -10px;
  top: -2px */

}

#organization-wrap
{
  width: 32px;
  height: 32px;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px;
}

#srow1
{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 94%;
  height: 44px;
  padding: 0px;
  background-color: #357fab;
  margin-bottom: 6px;

  overflow: hidden;
}

#srow1-c1
{
  background-color: lightcoral;
  width: 58px;
  height: auto;

  padding: 0px;
  margin: 0px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#srow1-c2
{
  background-color: orange;
  width: auto;
  height: auto;
  min-width: 0;
}

#srow1-c3
{
  padding-left: 28px;
  width: auto;
  height: stretch !important;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  padding-right: 7px;
  padding-bottom: 15px;

  background-color: orangered;

  box-sizing: border-box;
}

/* Experimental programming 11.5.2026 */

#dropdownBtn
{
  width: auto;
  height: auto;
  padding: 0px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-self: center;

  background-color: blue !important;
  border: none;
  outline: none;

  background-color: transparent;
}

#srow2
{

  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  align-items: center;

  width: 94%;
  height: 44px;

  padding: 0px;

  /* position: relative; */


  background-color: violet;

  /* margin-bottom: 17px; */

  margin-bottom: 6px;
}

#srow2-c1
{
  background-color: lightcoral;
  width: 58px;
  height: auto;

  padding: 0px;
  margin: 0px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#srow2-c2
{
  background-color: orange;
  width: auto;
  height: auto;
  min-width: 0;
}

#srow2-c3
{
  padding-left: 28px;
  width: auto;
  height: stretch !important;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  padding-right: 7px;
  padding-bottom: 15px;

  background-color: orangered;

  box-sizing: border-box;
}

#employeeImg
{
  width: 24px;
  height: auto;

  background-color: lightskyblue;
}

#employee-wrap
{
  width: 32px;
  height: 32px;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#dropdownBtn2
{
  width: auto;
  height: auto;
  padding: 0px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-self: center;

  background-color: blue !important;
  border: none;
  outline: none;
}

#srow3
{

  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  align-items: center;

  width: 94%;
  height: 44px;

  padding: 0px;

  /* position: relative; */


  background-color: yellow;

  /* margin-bottom: 17px; */

  margin-bottom: 6px;
}

#srow3-c1
{
  background-color: lightcoral;
  width: 58px;
  height: auto;

  padding: 0px;
  margin: 0px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#srow3-c2
{
  background-color: orange;
  width: auto;

  height: auto;

  /* flex: 1; */
  min-width: 0;
}

#srow3-c3
{
  /* margin-left: 16px; */

  padding-left: 28px;

  width: auto;

  height: stretch !important;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  padding-right: 7px;
  /* padding-bottom: 8px; */

  padding-bottom: 15px;

  background-color: orangered;

  box-sizing: border-box;
}

#equipment-wrap
{
  width: 32px;
  height: 32px;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px;
}

#equipmentImg
{
  width: 32px;
  height: auto;

  background-color: lightskyblue;
}

#relations-wrap
{
  width: 32px;
  height: 32px;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px;
}

#relationsImg
{
  width: 32px;
  height: auto;

  background-color: lightskyblue;
}

#srow4
{

  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  align-items: center;

  width: 94%;
  height: 44px;

  padding: 0px;

  /* position: relative; */


  background-color: lightcoral;

  /* margin-bottom: 17px; */

  margin-bottom: 6px;
}

#srow4-c1
{
  background-color: lightcoral;
  width: 58px;
  height: auto;

  padding: 0px;
  margin: 0px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#srow4-c2
{
  background-color: orange;
  width: auto;

  height: auto;

  /* flex: 1; */
  min-width: 0;
}

#srow4-c3
{
  /* margin-left: 16px; */

  padding-left: 28px;

  width: auto;

  height: stretch !important;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  padding-right: 7px;
  /*padding-bottom: 8px; */

  padding-bottom: 15px;

  background-color: orangered;

  box-sizing: border-box;
}

#dropdownBtn3
{
  width: auto;
  height: auto;
  padding: 0px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-self: center;

  background-color: blue !important;
  border: none;
  outline: none;
}

#srow5
{

  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  align-items: center;

  width: 94%;
  height: 44px;

  padding: 0px;

  /* position: relative; */

  /* margin-bottom: 17px; */

  margin-bottom: 6px;
}


#clients-wrap
{
  width: 32px;
  height: 32px;
  /* background-color: black; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px;
}


#srow5-c1
{
  /* background-color: lightcoral; */
  width: 58px;
  height: auto;

  padding: 0px;
  margin: 0px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#srow5-c2
{
  /* background-color: orange; */
  width: auto;

  height: auto;

  /* flex: 1; */
  min-width: 0;
}

#clientsImg
{
  width: 28px;
  color: #59646f;
}


#srow5:hover
{
  background-color: #357fab;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  color: white !important;

  cursor: pointer;
}


#srow5:hover *
{
    color: white;
    fill: white;
}


#srow6
{

  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  align-items: center;

  width: 94%;
  height: 44px;

  padding: 0px;

  background-color: white;

  /* position: relative; */

  /* margin-bottom: 17px; */

  margin-bottom: 6px;
}

#dropdownBtn4
{
    width: auto;
    height: auto;
    padding: 0px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-self: center;

    background-color: blue !important;
    border: none;
    outline: none;
 }


#integrations-wrap
{
  width: 32px;
  height: 32px;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px;
}


#srow6-c1
{
  background-color: lightcoral;
  width: 58px;
  height: auto;

  padding: 0px;
  margin: 0px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#srow6-c2
{
  background-color: orange;
  width: auto;

  height: auto;

  /* flex: 1; */
  min-width: 0;
}

#srow6-c3
{
  /* margin-left: 16px; */

  padding-left: 28px;

  width: auto;

  height: stretch !important;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  padding-right: 7px;
  /* padding-bottom: 8px; */

  padding-bottom: 15px;

  background-color: orangered;

  box-sizing: border-box;
}

#integrationsImg
{
  width: 25px;
  color: red;
}

#srow7
{

  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  align-items: center;

  width: 94%;
  height: 44px;

  padding: 0px;

  background-color: black;

  /* position: relative; */

  /* margin-bottom: 17px; */

  margin-bottom: 6px;
}

#dropdownBtn5
{
    width: auto;
    height: auto;
    padding: 0px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-self: center;

    background-color: blue !important;
    border: none;
    outline: none;
}

#media-wrap
{
  width: 32px;
  height: 32px;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px;
}

#srow7-c1
{
  background-color: lightcoral;
  width: 58px;
  height: auto;

  padding: 0px;
  margin: 0px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#srow7-c2
{
  background-color: orange;
  width: auto;

  height: auto;

  /* flex: 1; */
  min-width: 0;
}

#srow7-c3
{
  /* margin-left: 16px; */

  padding-left: 28px;

  width: auto;

  height: stretch !important;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  padding-right: 7px;
  /* padding-bottom: 8px; */

  padding-bottom: 15px;

  background-color: orangered;

  box-sizing: border-box;
}

#mediaImg
{
  width: 23px;
  color: red;
}

#srow8
{

  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  align-items: center;

  width: 94%;
  height: 44px;

  padding: 0px;

  background-color: brown;

  /* position: relative; */

  /* margin-bottom: 17px; */

  margin-bottom: 6px;
}

#dropdownBtn6
{
    width: auto;
    height: auto;
    padding: 0px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-self: center;

    background-color: blue !important;
    border: none;
    outline: none;
}


#settings-wrap
{
  width: 32px;
  height: 32px;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px;
}


#srow8-c1
{
  background-color: lightcoral;
  width: 58px;
  height: auto;

  padding: 0px;
  margin: 0px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#srow8-c2
{
  background-color: orange;
  width: auto;

  height: auto;

  /* flex: 1; */
  min-width: 0;
}

#srow8-c3
{
  /* margin-left: 16px; */

  padding-left: 28px;

  width: auto;

  height: stretch !important;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  padding-right: 7px;
  /* padding-bottom: 8px; */

  padding-bottom: 15px;

  background-color: orangered;

  box-sizing: border-box;
}

#settingsImg
{
  width: 28px;
}


#srow8-menu
{
  width: 100%;
  height: auto;

  background-color: brown;

  margin-top: 17px;

  display: none;
}

#srow8-menu-item1
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  margin-bottom: 17px;
}

#srow7-menu
{
  width: 100%;
  height: auto;

  background-color: brown;

  margin-top: 17px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  margin-bottom: 15px;

  display: none;
}

#srow7-menu-item1
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

  margin-bottom: 9px;

}

#srow7-menu-item2
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

}

#srow6-menu
{
  width: 100%;
  height: auto;

  background-color: brown;

  margin-top: 17px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  margin-bottom: 15px;

  display: none;
}

#srow6-menu-item1
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

  margin-bottom: 9px;

}

#srow6-menu-item2
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

}


#srow4-menu
{
  width: 100%;
  height: auto;

  background-color: brown;

  margin-top: 17px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  margin-bottom: 15px;

  display: none;
}

#srow4-menu-item1
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

  margin-bottom: 9px;

}

#srow4-menu-item2
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

  margin-bottom: 9px;

}

#srow4-menu-item3
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

  margin-bottom: 9px;

}

#srow4-menu-item4
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

  margin-bottom: 9px;

}

#srow4-menu-item5
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

  margin-bottom: 9px;

}


#srow4-menu-item6
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

}


#srow3-menu
{
  width: 100%;
  height: auto;

  background-color: brown;

  margin-top: 17px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  margin-bottom: 15px;

  display: none;
}

#srow3-menu-item1
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

  margin-bottom: 9px;

}

#srow3-menu-item2
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

  margin-bottom: 9px;

}

#srow3-menu-item3
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

  margin-bottom: 9px;

}

#srow3-menu-item4
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;
}

#srow1-menu
{
  width: 100%;
  height: auto;

  background-color: brown;

  margin-top: 17px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  margin-bottom: 15px;

  display: none;
}

#srow1-menu-item1
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

  margin-bottom: 9px;

}

#srow1-menu-item2
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

  margin-bottom: 9px;

}

#srow1-menu-item3
{
  width: 100%;
  height: auto;

  background-color: pink;

  padding-left: 110px;

  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  font-size: 17px;

  padding: 0px;
  margin: 0px;

  padding-left: 110px;

}

/* Experiments with unknown results 12.5.2026 */


#details
{
    width: 100%;
    height: auto;
    background-color: aquamarine;

    position: absolute;
    left: 0;
    bottom: 0;
}

#version
{
  background-color: orange;
  width: auto;
  height: auto;

  margin: 0px;
  padding: 0px;

  font-family: 'Montserrat';
  font-weight: 500;
  color: #59646f;
  font-size: 9px;

  padding-left: 22px;
  padding-bottom: 8px;
}

#company
{
  background-color: aquamarine;
  width: auto;
  height: auto;

  margin: 0px;
  padding: 0px;

  font-family: 'Montserrat';
  font-weight: 500;
  color: #59646f;
  font-size: 9px;

  padding-bottom: 18px;
  padding-left: 22px;
}

#dropdownBtn7
{
    width: auto;
    height: auto;
    padding: 0px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-self: center;

    background-color: blue !important;
    border: none;
    outline: none;

    visibility: hidden;
}


#dropdownBtn8
{
    width: auto;
    height: auto;
    padding: 0px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-self: center;

    background-color: blue !important;
    border: none;
    outline: none;

    visibility: hidden;
}

#srow0
{
  width: 94%;
  /* height: 44px; */

  /* height: 5.1%; */

  background-color: red;

  display: flex;
  flex-direction: row;

  justify-content: start;
  align-items: center;

  /* margin-bottom: 7px; */
  margin-bottom: clamp(5px, 0.4vw, 7px);

  /* min-height: 2.5% !important; */

  min-height: 22px;
}

#srow0-c1
{
  /* width: 58px; */

  width: 15.5%;

  background-color: green;
  color: red;

  height: 100%;

  display: flex;
  flex-direction: row;

  justify-content: end;
  align-items: center;

}

#srow0-c2
{
  /* width: 245px; */

  width: 65.9%;
  background-color: orange;
  color: red;
  text-align: center;

  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: start;
}

#srow0-c3
{
  /* width: 55px; */
  width: 14.7%;

  background-color:#357fab;
  color: red;

  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: end;
  align-items: end;

  /* padding-left: 28px; */

  padding-left: 7.5%;

  /* padding-right: 7px; */
  /* padding-right: 12.7%; */

  padding-right: 1.88%;

  /* padding-bottom: 15px; */

  /* padding-bottom: 34%; */

  box-sizing: border-box;

}


#experimentImg
{
  /* width: 28px;   MAX: 28px */

  /* width: 22px; */  /* MIN: 22px */

  /* width: 17px; */

  /* width: clamp(22px, calc(22px + (100vw - 1399px) * 0.012195), 28px); */

  width: clamp(15px, calc(22px + (100vw - 1399px) * 0.012195), 28px);

  height: auto;

  display: block;

  color: red;
}

#experiment-wrap
{
  /* width: 32px;
  height: 32px; */

  /* width: clamp(22px, calc(19px + (100vw - 1399px) * 0.02642), 32px); */
  /* height: clamp(19px, calc(19px + (100vw - 1399px) * 0.02642), 32px); */

  width: clamp(22px, calc(22px + (100vw - 1399px) * 0.02642), 32px);
  /* height: clamp(22px, calc(2px + (100vw - 1399px) * 0.02642), 32px); */


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;

}

#experimentDesc
{

  /* width: 210px; */
  background-color: pink;
  margin: 0;
  /* margin-left: 35px; */

  margin-left: 14.2%;

  font-family: 'Montserrat';
  font-weight: 700;
  /* font-size: 19px; */

  font-size: clamp(10px, calc(11px + (100vw - 1399px) * 0.020325), 19px);;


  color: #59646f;
  display:flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


}

#dropdownBtn0
{
    width: auto;
    height: auto;
    padding: 0px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    /* align-self: center; */

    background-color: gold !important;
    border: none;
    outline: none;
}

#dropdownImg0
{
  /* height: 13px; */

  height: auto;
  /* width: 20px; */

  /* width: 10px; */

  width: clamp(10px, calc(10px + (20 - 10) * ((100vw - 992px) / (1981 - 992))), 20px);;

  color: #59646f;
  pointer-events: none;
  transition: transform 0.2s ease;

  background-color: red !important;
}


#spacer
{
  height: 34%;
  width: 100%;
  background-color: darkgoldenrod;
}
