@font-face
{
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face
{
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face
{
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face
{
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face
{
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face
{
  font-family: 'Chewy';
  src: url('/static/fonts/Chewy/Chewy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body
{
  margin: 0;
  overflow: hidden;
}

*, *::before, *::after
{
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

body
{
    /* background-color: #87CEFA; */

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    height: 100dvh;

    position: relative;


    background: linear-gradient(
      to bottom,
      rgb(234,237,239) 0%,
      rgb(234,237,239) 10%,
      rgb(236,238,240) 20%,
      rgb(238,239,242) 30%,
      rgb(240,241,243) 40%,
      rgb(242,243,245) 50%,
      rgb(245,245,247) 60%,
      rgb(247,248,249) 70%,
      rgb(250,250,251) 80%,
      rgb(252,252,253) 90%,
      rgb(255,255,255) 100%
    );

}

#navBar
{
  width: 100%;
  /* height: 72px; */

  /* height: 83px; */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: start;

  /* background-color: azure; */

}

/* mobil */

@media   (max-width: 319px)
{
  body
  {
    display: none
  }
}

@media  (min-width: 320px) and (max-width: 359px)
{
  body
  {
    display: none
  }
}

@media  (min-width: 360px) and (max-width: 449px)
{
  body
  {
    display: none
  }
}

/* mobil */
@media  (min-width: 450px) and (max-width: 575px)
{
  body
  {
    display: none
  }
}

/* mobil/tablet */
@media (min-width: 576px) and (max-width: 767px)
{
  body
  {
    display: none
  }
}

/* tablet*/
@media (min-width: 768px) and (max-width: 991px)
{
  body
  {
    display: none
  }
}

/* Work */

/* počítačová obrazovka */
@media (min-width: 992px) and (max-width: 1199px)
{

  #navBar
  {
    height: 50px;
    padding-top: 11px;

    background-color: coral;
  }

  #srow0, #srow1, #srow2, #srow3, #srow4, #srow5, #srow6, #srow7, #srow8
  {
    height: 28px;
    margin-bottom: 3px;
  }

  #svg1
  {
    /* width: 71px;
    height: auto; */

    /* background-color: black; */
  }

  #codacoC
  {
    /* background-color: pink; */

    position: absolute;
    left: 0;
    top: 0;

    padding-left: 12px;
    padding-top:  8px;

    width: auto;
    height: auto;
  }

  #userSurname
  {
    margin-left: 4px;   /* Dodělat jinde */
    max-width: 180px;
  }

  #userName
  {
    max-width: 129px;
  }

  #navInformation
  {
    max-width: 496px;
  }

  /* #srow1-menu */
  .row-menu
  {
    /* font-size: 8px; */

    /* font-size: calc(8px + (12 - 8) * ((100vw - 992px) / (1199 - 992))); */

    font-size: calc(7px + (10 - 7) * ((100vw - 992px) / (1199 - 992)));
  }

  /* #srow1-menu-item1, #srow1-menu-item2 */

  .row-menu-item
  {
      margin-bottom: 4.5px !important;
  }

  #leftMenu
  {
    height: calc(100% - 45px);
  }

  .row:hover
  {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #welcomeC-hourC
  {
    /* font-size: 70px; */

    font-size: 72px;

    height: auto;

    /* margin-bottom: 8px; */

    /* margin-bottom: 3px; */

    margin-bottom: clamp(3px, calc(3px + (8 - 3) * ((100vw - 992px) / (1199 - 992))), 8px);
  }

  #welcomeC-dateC
  {
    background-color: white;
    /* height: 20px; */

    height: clamp(17px, calc(17px + (20 - 17) * ((100vw - 992px) / (1199 - 992))), 20px);

    border-radius: 5px;

    /* font-size: 12px; */
    /* font-size: 9px; */

    font-size: clamp(9px, calc(9px + (12 - 9) * ((100vw - 992px) / (1190 - 992))), 12px);

    /* padding-left: 23px;
    padding-right: 23px; */

    /*
    padding-left: 8px;
    padding-right: 10px; */

    /* padding-left: 7px; */
    /* padding-right: 8px; */


    /* padding-left: clamp(7px, calc(7px + (8 - 7) * ((100vw - 992px) / (1199 - 992))), 8px);
    padding-right: clamp(8px, calc(8px + (10 - 8) * ((100vw - 992px) / (1199 - 992))), 10px); */

  }

  #thermometer
  {
    /* width:  15px; */
    /* height: 15px; */

    /* width:    13px;
    height:   13px; */

    width: clamp(13px, calc(13px + (15 - 13) * ((100vw - 992px) / (1199 - 992))), 15px);
    height: clamp(13px, calc(13px + (15 - 13) * ((100vw - 992px) / (1199 - 992))), 15px);

    /* background-color: orange; */
  }


  #weather
  {
    /* width: 18px;
    height: 18px; */

    /*
    width: 13px;
    height: 13px; */

    width: clamp(13px, calc(13px + (18 - 13) * ((100vw - 992px) / (1199 - 992))), 18px);
    height: clamp(13px, calc(13px + (18 - 13) * ((100vw - 992px) / (1199 - 992))), 18px);

    /* background-color: black; */

  }

  #temperature
  {
    margin: 0px;

    /*
    margin-left: 1px;
    margin-right: 7px; */


    margin-left: 1px;

    /* margin-right: 6px; */

    margin-right: clamp(6px, calc(6px + (7 - 6) * ((100vw - 992px) / (1199 - 992))), 7px);

    /* background-color: yellow; */
  }

  #w_name
  {
    /* font-size:      16px; */

    /* font-size: 13px; */

    font-size: clamp(13px, calc(13px + 3 * ((100vw - 992px) / 207)), 16px);

    margin-bottom:  2px !important;
  }

  #w_welcome
  {
    font-size:      8px;
  }

  #welcomeC-welcomeC
  {
    /* padding-top: 12px; */

    /* padding-top: 8px; */

    padding-top: clamp(8px, calc(8px + 4 * ((100vw - 992px) / 207)), 12px);;

    /* padding-bottom: 12px; */

    /* padding-bottom: 9px; */

    padding-bottom: clamp(9px, calc(9px + 3 * ((100vw - 992px) / 207)), 12px);

  }

  .w_dot
  {
    /* margin-right: 3px !important; */

    /* margin-right: 2px !important; */

    margin-right: clamp(2px, calc(2px + 1 * ((100vw - 992px) / 207)), 3px) !important;

  }

  #welcomeC-dashboardC
  {
    background-color: white;

    height: auto;

    width: 100%;

    border-radius: 10px;
  }

  #WD-dashboard
  {
      /* margin-top: 13px; */

      /* margin-top: 11px; */

      margin-top: calc(11px + 2 * ((100vw - 992px) / 207));

      /* margin-bottom: 8px; */

      /* margin-bottom: 6px; */

      margin-bottom: calc(6px + 2 * ((100vw - 992px) / 207));
  }

  #WD-instruction
  {
    /* font-size: 10px; */

    /* font-size: 8px; */

    font-size: calc(8px + 2 * ((100vw - 992px) / 207));

    margin-bottom: 14px !important;
  }

  #WD-buttonC
  {
    /* margin-bottom: 15px; */

    /* margin-bottom: 10px; */

    margin-bottom: calc(10px + 5 * ((100vw - 992px) / 207));

  }

  #dashboard-icon
  {
    /*
    width:  8px;
    height: 8px; */

    /* width: 6px;
    height: 6px; */

    width: calc(6px + 2 * ((100vw - 992px) / 207)) !important;

  }

  #dashboard-icon-desc
  {
    font-size: 8px;

    /* margin-left: 6px !important; */

    /* margin-left: 3px !important; */

    margin-left: calc(3px + 3 * ((100vw - 992px) / 207)) !important;

  }

  #WD-btn
  {
    /* font-size: 8px; */

    /* font-size: 6px; */

    font-size: calc(6px + 2 * ((100vw - 991px) / 208));

    border-radius: 5px;
    /* width: 40px; */

    /* width: 31px; */

    width: calc(31px + 9 * ((100vw - 992px) / 207));

    height: 13px;

    box-sizing: border-box;
  }

  .wrap
  {
    width: 20px;
  }

  .description
  {
    font-size: 12px;
  }

  .dropdownImg
  {
    width: 10px;
  }

  .spacer
  {
    height: 28%;
  }

}


/* počítačová obrazovka */
@media (min-width: 1200px) and (max-width: 1399px)
{

  #navBar
  {
    height: 57px;
    padding-top: 15px;

    background-color: #7ca0c2;
  }

  #srow0, #srow1, #srow2, #srow3, #srow4, #srow5, #srow6, #srow7, #srow8
  {
    height: 35px;
    margin-bottom: 2px;
  }

  #codacoC
  {
    position: absolute;
    left: 0;
    top: 0;

    padding-left: 17px;
    padding-top:  12px;

    width: auto;
    height: auto;
  }

  #userSurname
  {
    margin-left: 5px;   /* Dodělat jinde */
    max-width: 255px;
  }

  #userName
  {
    max-width: 182px;
  }

  #navInformation
  {
    max-width: 700px;
  }

  .row-menu
  {

    font-size: 10px;

  }

  .row-menu-item
  {
      margin-bottom: 7px !important;
  }

  #leftMenu
  {
    height: calc(100% - 59px);
  }

  .row:hover
  {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  #welcomeC-hourC
  {
    /* font-size: 96px; */

    font-size: clamp( 70px, calc(70px + (96 - 70) * ((100vw - 1200px) / (1300 - 1200))), 96px);

    height: auto;

    margin-bottom: 5px;
  }

  #welcomeC-dateC
  {
    background-color: white;
    height: 24px;
    border-radius: 5px;
    font-size: 13px;
    /* padding-left: 10px;
    padding-right: 12px; */
  }

  #thermometer
  {
    width:  18px;
    height: 18px;

    /* background-color: green; */
  }

  #weather
  {
    width: 20px;
    height: 20px;

    /* background-color: black; */
  }

  #temperature
  {
    margin: 0px;

    margin-left: 2px;
    margin-right: 10px;

    /* background-color: yellow; */
  }

  #w_name
  {
    font-size:      20px;
    margin-bottom:  2px !important;
  }

  #w_welcome
  {
    font-size:      12px;
  }

  #welcomeC-welcomeC
  {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .w_dot
  {
    margin-right: 3px !important;
  }

  #welcomeC-dashboardC
  {
    background-color: white;

    height: auto;

    width: 100%;

    border-radius: 10px;
  }

  #WD-dashboard
  {
      margin-top: 16px;
      margin-bottom: 10px;
  }

  #WD-instruction
  {
    font-size: 10px;
    margin-bottom: 17px !important;
  }

  #WD-buttonC
  {
    margin-bottom: 15px;
  }

  #dashboard-icon
  {
    width: 9px;
    height: 9px;
  }

  #dashboard-icon-desc
  {
    font-size: 10px;
    margin-left: 6px !important;
  }

  #WD-btn
  {
    font-size: 11px;
    border-radius: 5px;
    width: 51px;
    height: 15px;
  }

  .wrap
  {
    width: 23px;
  }

  #employeeImg
  {
    width: 78% !important;
  }

  .description
  {
    font-size: 14px;
  }

  .dropdownImg
  {
    width: 12px;
  }

  .spacer
  {
    height: 28%;
  }

}


/* počítačová obrazovka */
@media (min-width: 1400px) and (max-width: 1920px)
{

  #navBar
  {

    height: 83px;
    padding-top: 23px;

    background-color: yellow;

  }

  #srow0, #srow1, #srow2, #srow3, #srow4, #srow5, #srow6, #srow7, #srow8
  {
    height: 44px;
    margin-bottom: 6px;
  }

  #codacoC
  {

    position: absolute;
    left: 0;
    top: 0;

    padding-left: 24px;
    padding-top:  16px;

    width: auto;
    height: auto;
  }

  #userSurname
  {

    margin-left: 5px;   /* Dodělat jinde */

    padding-left: 0px;
    padding-right: 0px;

    max-width: 350px;

  }

  #userName
  {

    max-width: 250px;
  }

  #dateC
  {
    margin-left: 5px !important;
  }

  #navInformation
  {
    max-width: 960px;
  }

  .row-menu
  {
    font-size: clamp(10px, calc(10px + (16 - 10) * ((100vw - 1400px) / (1920 - 1400))), 16px);
  }

  /* #srow1-menu-item1, #srow1-menu-item2 */
  .row-menu-item
  {
      margin-bottom: 9px !important;
  }

  #leftMenu
  {
    height: calc(100% - 83px);
  }

  .row:hover
  {

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

  }

  #welcomeC-hourC
  {
    /* font-size: 129px; */

    font-size: clamp( 96px, calc(96px + (129 - 96) * ((100vw - 1400px) / (1920 - 1400))), 129px);

    height: auto;

    margin-bottom: 8px;
  }

  #welcomeC-dateC
  {
    background-color: white;
    height: 33px;
    border-radius: 10px;
    font-size: 16px;
    /* padding-left: 23px;
    padding-right: 23px; */
  }

  #thermometer
  {
    width:  26px;
    height: 26px;

    /* background-color: green; */
  }

  #weather
  {
    width:  27px;
    height: 27px;

    /* background-color: black; */
  }

  #temperature
  {
    margin: 0px;

    margin-left: 2px;
    margin-right: 13px;

    /* background-color: yellow; */
  }

  #welcomeC-welcomeC
  {
    padding-top: 15px;
    padding-bottom: 16px;
  }

  #w_name
  {
    font-size: 25px;
    margin-bottom: 3px !important;
  }

  #w_welcome
  {
    font-size: 14px;
  }

  .w_dot
  {
    margin-right: 6px !important;
  }

  #welcomeC-dashboardC
  {
    background-color: white;

    height: auto;

    width: 100%;

    border-radius: 20px;
  }

  #WD-dashboard
  {
      margin-top: 22px;
      margin-bottom: 15px;
  }

  #WD-instruction
  {
    font-size: 14px;
    margin-bottom: 22px !important;
  }

  #WD-buttonC
  {
    margin-bottom: 20px;
  }

  #dashboard-icon
  {
    width: 12px;
    height: 12px;
  }

  #dashboard-icon-desc
  {
    font-size: 15px;
    margin-left: 8px !important;
  }

  #WD-btn
  {
    font-size: 14px;
    border-radius: 7px;
    width: 70px;
    height: 21px;
  }

  .description
  {
    font-size: 18px;
  }

  .wrap
  {
    width: 32px;
  }

  .dropdownImg
  {
    width: 16px;
  }

  .spacer
  {
    height: 29%;
  }

}

@media (min-width: 1921px)
{

  #navBar
  {
    height: 83px;
    padding-top: 23px;

    background-color: orange;
  }

  #srow0, #srow1, #srow2, #srow3, #srow4, #srow5, #srow6, #srow7, #srow8
  {
    height: 44px;
    margin-bottom: 6px;
  }

  #codacoC
  {

    position: absolute;
    left: 0;
    top: 0;

    padding-left: 24px;
    padding-top:  16px;

    width: auto;
    height: auto;
  }

  #userSurname
  {

    margin-left: 5px;   /* Dodělat jinde */

    padding-left: 0px;
    padding-right: 0px;

    max-width: 350px;

  }

  #userName
  {

    max-width: 250px;
  }

  #dateC
  {
    margin-left: 5px !important;
  }

  #navInformation
  {
    max-width: 960px;
  }

  .row-menu
  {
    font-size: clamp(10px, calc(10px + (16 - 10) * ((100vw - 1400px) / (1920 - 1400))), 16px);
  }

  .row-menu-item
  {
      margin-bottom: 9px !important;
  }

  #leftMenu
  {
    height: calc(100% - 83px);
  }

  .row:hover
  {

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

  }

  #welcomeC-hourC
  {
    /* font-size: 129px; */

    font-size: clamp( 96px, calc(96px + (129 - 96) * ((100vw - 1400px) / (1920 - 1400))), 129px);

    height: auto;

    margin-bottom: 8px;
  }

  #welcomeC-dateC
  {
    background-color: white;
    height: 33px;
    border-radius: 10px;
    font-size: 16px;
  }

  #thermometer
  {
    width: 26px;
    height: 26px;
  }

  #weather
  {
    width: 27px;
    height: 27px;
  }


  #temperature
  {
    margin: 0px;

    margin-left: 2px;
    margin-right: 13px;

  }

  #welcomeC-welcomeC
  {
    padding-top: 15px;
    padding-bottom: 16px;
  }

  #w_name
  {
    font-size: 25px;
    margin-bottom: 3px !important;
  }

  #w_welcome
  {
    font-size: 14px;
  }

  .w_dot
  {
    margin-right: 6px !important;
  }

  #welcomeC-dashboardC
  {
    background-color: white;

    height: auto;

    width: 100%;

    border-radius: 10px;
  }

  #WD-dashboard
  {
      margin-top: 22px;
      margin-bottom: 15px;
  }

  #WD-instruction
  {
    font-size: 14px;
    margin-bottom: 22px !important;
  }

  #WD-buttonC
  {
    margin-bottom: 20px;
  }

  #dashboard-icon
  {
    width: 12px;
    height: 12px;
  }

  #dashboard-icon-desc
  {
    font-size: 15px;
    margin-left: 8px !important;
  }

  #WD-btn
  {
    font-size: 14px;
    border-radius: 5px;
    width: 70px;
    height: 21px;
  }

  .description
  {
    font-size: 18px;
  }

}

/* Experimental research and development 5.5.2026 */

#wholeView
{
  width: 100%;
  height: 100%;

}

#leftMenu
{

  width: min(20.6%, 396px);

  min-height: 862px;

  overflow: auto;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

}

/*  Dnešní experimenty 6.5.2026 */

#navInformation
{

  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  height: clamp(15px, calc(3.18627451vw - 16.6078431px), 28px);
  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;

  font-size: clamp(9px, calc(9px + 9 * ((100vw - 992px) / 928)), 18px);

}

#dateC
{
  width: auto;

  height: clamp(15px, calc(15px + 13 * ((100vw - 998px) / 922)), 28px);

  padding-right: clamp(9px, calc(9px + 11 * ((100vw - 992px) / 928)), 17px);

}

#hourC
{

  width: auto;

  height: clamp(15px, calc(15px + 13 * ((100vw - 998px) / 922)), 28px);
  padding-right: clamp(10px, calc(10px + 10 * ((100vw - 992px) / 928)), 20px);
  padding-left: clamp(7px, calc(7px + 8 * ((100vw - 992px) / 928)), 16px);

}

#nameC
{
  width: auto;

  height: clamp(15px, calc(15px + 13 * ((100vw - 998px) / 922)), 28px);

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  border-left: 2px solid rgba(180,184,196,1);

  padding-right: clamp(13px, calc(13px + 13 * ((100vw - 992px) / 928)), 26px);
  padding-left: clamp(11px, calc(11px + 12 * ((100vw - 992px) / 928)), 21px);

  color: #59646f

}

#exitC
{
  width: auto;

  height: clamp(15px, calc(15px + 13 * ((100vw - 998px) / 922)), 28px);

  border-left: 2px solid rgba(180,184,196,1);
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0px;

  padding-right: clamp(14px, calc(14px + 13 * ((100vw - 992px) / 408)), 27px);
  padding-left: clamp(14px, calc(14px + (27 - 14) * ((100vw - 992px) / (1400 - 992))), 26px);
}

#exitImg
{

  width: clamp(16px, calc(16px + 15 * ((100vw - 992px) / 408)), 31px);

  height: auto;

  color: #59646f;
}

#logoutBtn
{

  outline: none;
  border: none;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: auto;
  height: auto;

  padding: 0px;
  padding-bottom: 1px;
}

#personImg
{

  width: clamp(10px, calc(10px + 8 * ((100vw - 992px) / 408)), 19px);
  margin-left: clamp(12px, 1vw, 20px);

  color: #59646f;
}

#userName
{

  padding-left: 0px;
  padding-right: 0px;

  min-width: 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

#userSurname
{

  padding-left: 0px;
  padding-right: 0px;

  min-width: 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Dnešní experimentální programování 7.5.2026 */

#hourC
{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-left: 2px solid rgba(180,184,196,1);
}

#hour
{

  margin: 0px;

}

#minutes
{
  margin: 0px;
}

#colon
{
  margin: 0px;
}

#dateC
{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#day
{
  margin: 0px;
}

.dot
{

  margin: 0px;

  margin-right: clamp(1px, calc(1vw - 10px), 5px);

}

#month
{
  margin: 0px;
}

#year
{
  margin: 0px;
}

#svg1
{

  width: clamp(71px, calc(71px + (138 - 71) * ((100vw - 992px) / (1920 - 992))), 138px);
  height: auto;

}



/* Experiments with unknown results 12.5.2026 */

#details
{
    width: 100%;
    height: auto;

    position: absolute;
    left: 0;
    bottom: 0;
}

#version
{
  width: auto;
  height: auto;

  margin: 0px;
  padding: 0px;

  font-family: 'Montserrat';
  font-weight: 500;
  color: #59646f;
  font-size: 9px;

  padding-left: 22px;
  padding-bottom: 4px;

  /* background-color: cornflowerblue; */
}

#company
{
  width: auto;
  height: auto;

  margin: 0px;
  padding: 0px;

  font-family: 'Montserrat';
  font-weight: 500;
  color: #59646f;
  font-size: 9px;

  padding-bottom: 16px;
  padding-left: 22px;

  /* background-color: darksalmon; */
}

.spacer
{
  /* height: 29%; */
  width: 100%;

  background-color: orange;
}

/* Experimental development and research 13. 5. 2026 */

#StructureImg
{

  width: 100%;

  height: auto;

  display: block;

  color: #59646f !important;

}

.dropdownImg
{
  height: auto;
  /* width: clamp(10px, calc(10px + (20 - 10) * ((100vw - 992px) / (1981 - 992))), 20px); */

  /* width: 16px; */

  color: #59646f;
  pointer-events: none;
  transition: transform 0.2s ease;
}

#employeeImg
{

  width: 75%;

  height: auto;

  display: block;

  color: #59646f;
}

#equipmentImg
{
  width: 100%;

  height: auto;

  display: block;

  /* color: red; */

  color: #59646f;
}

#relationsImg
{

  width: 96%;

  height: auto;

  display: block;

  color: #59646f;
}

#clientsImg
{

  color: #59646f;

  width: 88%;

  height: auto;

  display: block;

}

#integrationsImg
{
  /* width: 25px; */

  color: #59646f;

  width: 88%;

  height: auto;

  display: block;

  /* color: red; */
}

#mediaImg
{
  /* width: 23px; */

  color: #59646f;

  width: 80%;

  height: auto;

  display: block;

  /* color: red; */
}

#settingsImg
{
  /* width: 28px; */

  color: #59646f;

  width: 90%;

  height: auto;

  display: block;

  /* color: red; */
}

/* Experimenty 15. 5. 2026 */

.row
{
  width: 94%;

  background-color: yellowgreen;

  display: flex;
  flex-direction: row;

  justify-content: start;
  align-items: center;

  min-height: 22px;
}

.c1
{
  width: 15.5%;

  background-color: lightblue;

  height: 100%;

  display: flex;
  flex-direction: row;

  justify-content: end;
  align-items: center;
}

.c2
{
  width: 65.9%;

  background-color: lightgreen;

  text-align: center;

  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: start;
}

.c3
{
  width: 14.7%;

  background-color: lightcoral;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding-left: 7.5%;
  padding-right: 1.88%;
  box-sizing: border-box;
}

.description
{
  margin: 0;

  margin-left: 14.2%;

  font-family: 'Montserrat';
  font-weight: 700;

  /* font-size: clamp(10px, calc(10px + (100vw - 1399px) * 0.020325), 19px); */

  color: #59646f;
  display:flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  background-color: cadetblue;

}

.wrap
{
  /* width: clamp(22px, calc(22px + (100vw - 1399px) * 0.02642), 32px); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  background-color: skyblue;
}

.sBtn
{
  width: auto;
  height: auto;
  padding: 0px;

  display: flex;
  flex-direction: column;

  justify-content: center;

  border: none;
  outline: none;

  background-color: transparent;

  background-color: lightcyan;
}

/* Experimenty 18.5.2026 */

.row-menu
{
  width: 100%;
  height: auto;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 8px;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #59646f;
  padding-left: 27.7%;

  display: none;
}

.row-menu-item
{
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.row-menu-item-bottom
{
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

#dropdownBtn7
{
  visibility: hidden;
}

#dropdownBtn8
{
  visibility: hidden;
}

.row:hover
{
  background-color: #357fab;

  color: white !important;

  cursor: pointer;
}

.row:hover *
{
    color: white;
    fill: white;
}

#mainC
{
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
}

#contentC
{

  flex:1;

  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: start;

}

#welcomeC
{
  max-width: 350px;

  width: 23%;

  font-family: 'Montserrat';

  margin-top: 11%;

  margin-left: 25.5%;

  overflow: visible;

}

#welcomeC-hourC
{
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  color: #7ca0c2;

  overflow: visible !important;
}

#welcomeC-dateC
{
  background-color: white;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: #357fab;
  font-weight: 600;

  padding-left: 6.8%;
  padding-right: 6.2%;

}

#welcomeC-welcomeC
{

  width: 100%;
  height: auto;

  color: #357fab;

  padding-left: 3.4%;

}

#welcomeC-dashboardC
{

  background-color: white;

  height: auto;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-left: 6.5%;
  padding-right: 6.5%;

}

#weather-wrap
{
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#date-wrap
{
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#w_day, #w_month, #w_year, .w_dot
{
  margin: 0px;
}

#w_name
{
  margin: 0px;
  font-weight: 800;
}

#w_welcome
{
  margin: 0px;
  /* font-size: 14px; */
  font-weight: 600;

  line-height: 1.55;

}

#WD-dashboard
{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  width: 100%;
  height: auto;
}

#dashboard-icon-desc
{
  margin: 0px;
  color: #80808d;

  font-weight: 700;

}

#WD-instruction
{
  margin: 0px;
  color: #80808d;

  font-weight: 500;
}

#WD-buttonC
{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  width: 100%;
  height: auto;
}

#WD-btn
{
  background-color: #357fab;
  /* font-size: 14px; */
  font-weight: 600;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  border: none;
  outline: none;

  /* border-radius: 5px; */

  /*
  width: 70px;
  height: 21px; */

  cursor: pointer;
}

#w_hour
{
  margin: 0px;
  padding: 0px;
  line-height:1;
}

#w_colon
{
  margin: 0px;
  padding: 0px;
  line-height:1;
}

#w_minutes
{
  margin: 0px;
  padding: 0px;
  line-height:1;
}